<div class="flex flex-col"
     x-data="authentication_box()"
     x-show="page == 1"
     x-transition>

    <div x-show="!authenticated">
        <button class="ui_button w-full" @click="sign_in()">
            <i class="ph-bold ph-user-circle"></i> Sign In
        </button>
    </div>

    <div x-show="authenticated">
        <div class="flex flex-row dark:bg-slate-800 dark:border-slate-700 bg-slate-200 border-slate-300 border-2 rounded-2xl p-2 justify-between items-center align-middle">
            <p class="dark:text-white text-black font-sans text-md font-bold p-2"
               x-text="'Continue as ' + display_name"></p>
            <button class="ui_button_icon mx-1" @click="continue_with_account()">
                <i class="ph-bold ph-check-circle"></i>
            </button>
            <button class="ui_button_icon mx-1" @click="sign_out()">
                <i class="ph-bold ph-sign-out"></i>
            </button>
        </div>
    </div>

    <button class="ui_button" @click="open = !open" x-show="!authenticated">
        <i class="ph-bold ph-user-circle-dashed"></i> Continue without account
    </button>

    <div class="flex flex-col justify-center items-center"
         x-show="open"
         x-collapse>
        <input class="ui_input"
               type="text"
               placeholder="Temporary user name"
               @input="check()"
               x-ref="username">
        <input class="ui_input"
               type="text"
               placeholder="Your team number"
               @input="check()"
               x-ref="team_number">
        <button class="ui_button" x-ref="next" @click="submit()" disabled>
            <i class="ph-bold ph-arrow-circle-right"></i> Next
        </button>
    </div>

    <p class="text-black dark:text-white font-sans text-center mt-2">Or...</p>

    <button class="border-solid border-2 dark:border-slate-600 dark:bg-purple-900/50 dark:hover:bg-purple-900/80 dark:active:bg-purple-800/80 dark:text-white border-slate-300 bg-purple-200/50 hover:bg-purple-200/80 active:bg-purple-300/80 text-black rounded-xl py-2 px-8 transition backdrop-blur-lg my-2 disabled:scale-95 disabled:opacity-80"
            @click="start_demo()">
        <i class="ph-bold ph-test-tube"></i> Try Open Scouting
    </button>
</div>

<script>
                function authentication_box() {
                    return {
                        open: false,
                        YEARS: JSON.parse(`{{ YEARS|safe }}`),
                        authenticated: JSON.parse("{{ authenticated }}"),
                        username: "{{ username }}",
                        display_name: "{{ display_name }}",
                        team_number: "{{ team_number }}",

                        check() {
                            if (this.$refs.username.value && this.$refs.team_number.value) {
                                this.$refs.next.disabled = false;
                            } else {
                                this.$refs.next.disabled = true;
                            }
                        },

                        submit() {
                            username = this.$refs.username.value;
                            team_number = this.$refs.team_number.value;

                            window.dispatchEvent(new CustomEvent('header_username', {
                                detail: { username, team_number }
                            }));
                            this.page = 2;
                        },

                        start_demo() {
                            window.dispatchEvent(new CustomEvent('header_demo', {
                                detail: { year: this.YEARS.at(-1) }
                            }));

                            this.page = 4;
                        },

                        sign_in() {
                            window.location.href = "{{ SERVER_IP }}/authentication";
                        },

                        continue_with_account() {
                            username = this.username;
                            team_number = this.team_number;

                            window.dispatchEvent(new CustomEvent('header_username', {
                                detail: { username, team_number }
                            }));

                            const urlParams = new URLSearchParams(window.location.search);
                            const year = urlParams.get('year');
                            const event_name = urlParams.get('event_name');
                            const event_code = urlParams.get('event_code');

                            if (year && event_name && event_code) {
                                window.dispatchEvent(new CustomEvent('header_year', {
                                    detail: { year }
                                }));

                                window.dispatchEvent(new CustomEvent('header_event', {
                                    detail: { event_name, event_code }
                                }));

                                window.dispatchEvent(new CustomEvent('scouting_notification', {
                                    detail: { title:"Event autofilled", body:"Autofilled the event and year from the provided link data", icon:"lightning" }
                                }));

                                this.page = 4;
                            } else {
                                this.page = 2;
                            }
                        },

                        async sign_out() {
                            var response = await fetch("{{ SERVER_IP }}/authentication/sign_out", {
                            method: "POST",
                            headers: {
                                    "X-CSRFToken": "{{ csrf_token }}",
                                }
                            });

                            if (response.ok) {
                                response.text().then(async (text) => {
                                    window.location.reload();
                                });
                            } else {
                                console.log("Error signing out");
                            }
                        },

                        init() {}
                    };
                }
</script>
