<div class="fixed z-50 h-[80%] bottom-0 md:bottom-auto w-screen md:h-[80%] md:w-[80%] md:mx-4 md:my-8 dark:bg-slate-800/60 dark:border-slate-700 border-slate-300 border-2 md:rounded-2xl rounded-t-xl bg-slate-200/60 backdrop-blur-md p-4 md:p-8 overflow-y-auto"
     x-data="create_custom_event()"
     x-init="init()"
     x-show="shown"
     @click.outside="close_dialog()"
     x-transition>
    <div class="flex flex-row justify-between">
        <div class="flex flex-col max-w-sm md:max-w-xl lg:max-w-3xl">
            <p class="text-black dark:text-white text-sans text-2xl font-bold">Create Custom Event</p>
            <p class="text-black dark:text-white text-sans text-sm">
                Custom events are used when an event isn't present in The Blue Alliance. Creating a custom event makes this event available to all users across Open Scouting to contribute and view data for.
            </p>
        </div>
        <button class="dark:text-white text-black text-3xl hover:scale-105 active:scale-95 transition-all dark:bg-slate-700 border-2 bg-slate-200 dark:border-slate-600 border-slate-400 aspect-square rounded-full my-auto p-2 mxr-2"
                @click="close_dialog()">
            <i class="ph-bold ph-x"></i>
        </button>
    </div>

    <div class="flex flex-col items-center mt-4 h-full">
        <input class="ui_input"
               placeholder="Name"
               x-ref="name"
               @input="check_fields">
        <p class="text-black dark:text-white/80 font-sans text-xs text-left mb-2">Enter the name for this event</p>

        <select class="ui_input"
                placeholder="Year"
                x-ref="year"
                @change="update_date_fields">
            <template x-for="year in YEARS" :key="year">
                <option x-text="year"></option>
            </template>
        </select>
        <p class="text-black dark:text-white/80 font-sans text-xs text-left mb-2"
           @input="check_fields">What year did this event take place?</p>

        <input class="ui_input"
               type="date"
               placeholder="Event begins"
               x-ref="date_begins"
               @click.outside="check_date_fields()"
               @input="check_fields">
        <p class="text-black dark:text-white/80 font-sans text-xs text-left mb-2">What day does this event begin?</p>

        <input class="ui_input"
               type="date"
               placeholder="Event ends"
               x-ref="date_ends"
               @click.outside="check_date_fields()"
               @input="check_fields">
        <p class="text-black dark:text-white/80 font-sans text-xs text-left mb-2">What day does this event end?</p>

        <input class="ui_input"
               placeholder="Event location"
               x-ref="location"
               @input="check_fields">
        <p class="text-black dark:text-white/80 font-sans text-xs text-left mb-2">Where will this event be held?</p>

        <select class="ui_input"
                placeholder="Year"
                x-ref="type"
                @change="check_fields">
            <option value="N/A">Select an Event Type</option>
            <option value="District">District Event</option>
            <option value="Regional">Regional Event</option>
            <option value="Preseason">Preseason Event</option>
            <option value="Offseason">Offseason Event</option>
            <option value="Other Event">Other Event</option>
        </select>
        <p class="text-black dark:text-white/80 font-sans text-xs text-left mb-2"
           @input="check_fields">What kind of event is this?</p>

        <button class="ui_button" :disabled="!able_to_submit" @click="create_event">
            <i class="ph-bold ph-check"></i> Create new Custom Event
        </button>
    </div>
</div>

<script>
            function create_custom_event() {
                return {
                    shown: false,
                    YEARS: JSON.parse(`{{ YEARS|safe }}`),
                    selected_year: null,
                    able_to_submit: false,

                    update_date_fields(e) {
                        this.selected_year = e.target.value;

                        this.$refs.date_begins.min = `${this.selected_year}-01-01`;
                        this.$refs.date_begins.max = `${this.selected_year}-12-31`;
                        this.$refs.date_ends.min = `${this.selected_year}-01-01`;
                        this.$refs.date_ends.max = `${this.selected_year}-12-31`;
                    },

                    check_date_fields() {
                        let date_begins_value = new Date(Date.parse(this.$refs.date_begins.value));
                        let date_ends_value = new Date(Date.parse(this.$refs.date_ends.value));
                        let valid = false;

                        if (!this.$refs.date_begins.checkValidity()) {
                            this.$refs.date_begins.value = `${this.selected_year}-${date_begins_value.getMonth()}-${date_begins_value.getDate()}`;
                        }

                        if (!this.$refs.date_ends.checkValidity()) {
                            this.$refs.date_ends.value = `${this.selected_year}-${date_begins_value.getMonth()}-${date_begins_value.getDate()}`;
                        }

                        this.check_fields();
                    },

                    check_fields() {
                        if (this.$refs.date_begins.value == "" || this.$refs.date_ends.value == "" || this.$refs.name.value == "" || this.$refs.location.value == "" || this.$refs.type.value == "N/A") {
                            valid = false;
                        } else {
                            valid = true;
                        }

                        if (valid) {
                            this.able_to_submit = true;
                        } else {
                            this.able_to_submit = false;
                        }
                    },

                    async create_event() {
                        var response = await fetch("{{ SERVER_IP }}/create_custom_event", {
                            method: "POST",
                            headers: {
                                    "name": this.$refs.name.value,
                                    "year": this.$refs.year.value,
                                    "date-begins": this.$refs.date_begins.value,
                                    "date-ends": this.$refs.date_ends.value,
                                    "location": this.$refs.location.value,
                                    "type": this.$refs.type.value,
                                }
                            });

                            response.text().then(async (text) => {
                                if (response.ok) {
                                    this.close_dialog();
                                    window.dispatchEvent(new CustomEvent('refresh_event_list'));
                                }
                            });
                    },

                    close_dialog() {
                        this.shown = false;

                        this.$refs.name.value = "";
                        this.$refs.date_begins.value = "";
                        this.$refs.date_ends.value = "";
                        this.$refs.location.value = "";
                        this.$refs.type.value = "N/A";
                    },

                    init() {
                        window.addEventListener('open_create_custom_event', (event) => {
                            event.stopImmediatePropagation();
                            
                            this.shown = true;
                        });

                        this.selected_year = this.YEARS[0]
                        this.$refs.date_begins.min = `${this.selected_year}-01-01`;
                        this.$refs.date_begins.max = `${this.selected_year}-12-31`;
                        this.$refs.date_ends.min = `${this.selected_year}-01-01`;
                        this.$refs.date_ends.max = `${this.selected_year}-12-31`;
                    },
                }
            }
</script>
