{% load static %}

<div x-data="header()">
    <div class="flex flex-col justify-center items-center"
         x-show="basic"
         x-transition>
        <img class="w-full md:w-1/2 xl:w-2/6 px-10 hidden dark:block"
             src="{% static '/main/images/logo_light.png' %}">
        <img class="w-full md:w-1/2 xl:w-2/6 px-10 dark:hidden block"
             src="{% static '/main/images/logo_dark.png' %}">
        <p class="font-sans dark:text-white mt-2 text-black text-center mb-8">An open source application for easier scouting at First Robotics competitions</p>
    </div>
    <div class="flex flex-row dark:bg-slate-800 dark:border-slate-700 bg-slate-200 border-slate-300 border-2 rounded-lg w-full px-6 justify-center items-center py-4 mt-6"
         x-show="!basic"
         x-transition>
        <img class="w-16 h-16 aspect-square m-2 hover:scale-110 transition-all ease-in-out active:scale-95"
             src="{% static '/main/images/icon_rounded.png' %}"
             @click="start_over()">

        <button class="ui_button_icon" @click="start_over()">
            <i class="ph-bold ph-arrow-clockwise"></i>
        </button>

        <div class="flex flex-col" x-show="!demo">
            <div class="flex flex-row items-center">
                <i class="ph-bold ph-user-circle-dashed dark:text-white text-black font-sans px-1"></i>
                <p class=" dark:text-white text-black font-sans text-md font-bold px-1"
                   x-text="username"></p>
                <p class=" dark:text-white text-black font-mono text-sm px-1 opacity-70"
                   x-text="team_number"></p>
            </div>

            <div class="flex flex-row items-center">
                <i class="ph-bold ph-calendar-blank dark:text-white text-black font-sans px-1"
                   x-show="!custom_event"></i>
                <i class="ph-bold ph-calendar-star dark:text-white text-black font-sans px-1"
                   x-show="custom_event"></i>
                <p class=" dark:text-white text-black font-sans text-md font-bold px-1"
                   x-text="event_name"></p>
                <p class=" dark:text-white text-black font-mono text-sm px-1 opacity-70 max-w-14 overflow-x-hidden"
                   x-text="event_code"></p>
            </div>
        </div>

        <div x-show="demo">
            <p class="p-2 ml-2 rounded-full dark:text-white text-black font-sans text-md border-solid border-2 dark:border-slate-600 dark:bg-purple-900/50 border-slate-300 bg-purple-200/50">
                <i class="ph-bold ph-test-tube"></i> Open Scouting is in demo mode
            </p>
        </div>
    </div>

</div>

<script>
    function header() {
        return {
            basic: true,
            username: "",
            team_number: "",
            event_name: "",
            event_code: "",
            custom_event: false,
            year: "",
            demo: false,

            start_over() {
                window.dispatchEvent(new CustomEvent('start_over'));
                this.basic = true;
                this.username = "";
                this.team_number = "";
                this.event_name = "";
                this.event_code = "";
                this.year = "";
                this.demo = false;
            },

            init() {
                window.addEventListener('header_username', (event) => {
                    event.stopImmediatePropagation();
                    const { username, team_number } = event.detail;
                    this.username = username;
                    this.team_number = team_number;

                    this.basic = false;
                });

                window.addEventListener('header_event', (event) => {
                    event.stopImmediatePropagation();
                    const { event_name, event_code } = event.detail;

                    this.event_name = event_name;
                    this.event_code = event_code;
                });

                window.addEventListener('header_year', (event) => {
                    const { year } = event.detail;
                    this.year = year;
                });

                window.addEventListener('header_custom_event', (event) => {
                    event.stopImmediatePropagation();
                    const { event_name, event_code } = event.detail;

                    this.event_name = event_name;
                    this.event_code = event_code;
                    this.custom_event = true;
                });

                window.addEventListener('header_demo', (event) => {
                    event.stopImmediatePropagation();
                    const { year } = event.detail;

                    this.basic = false;

                    this.year = year;
                    this.demo = true;
                    this.username = "demo";
                    this.team_number = "0000";
                    this.event_name = "";
                    this.event_code = "";
                    this.custom_event = false;
                })

                window.addEventListener('get_header_data', (event) => {
                    event.stopImmediatePropagation();
                    const { load_page } = event.detail;

                    let username = this.username;
                    let team_number = this.team_number;
                    let event_name = this.event_name;
                    let event_code = this.event_code;
                    let load_page_var = load_page;
                    let custom = this.custom_event;
                    let year = this.year;
                    let demo = this.demo;

                    window.dispatchEvent(new CustomEvent('header_data', {
                        detail: { username, team_number, event_name, event_code, load_page, custom, year, demo }
                    }));
                });

                window.addEventListener('get_link_data', (event) => {
                    event.stopImmediatePropagation();

                    let username = this.username;
                    let team_number = this.team_number;
                    let event_name = this.event_name;
                    let event_code = this.event_code;
                    let custom = this.custom_event;
                    let year = this.year;
                    let demo = this.demo;

                    window.dispatchEvent(new CustomEvent('link_data', {
                        detail: { username, team_number, event_name, event_code, custom, year, demo }
                    }));
                });
            }
        }
    }
</script>
