{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% block body %}{% endblock %}

        <div style="display: flex;
                    flex-direction: row;
                    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    opacity: 0.8">
            <a href="https://github.com/FRC-Team3484/open-scouting"
               style="margin-left: 4px;
                      margin-right: 4px">GitHub</a>
            |
            <a href="https://github.com/FRC-Team3484/open-scouting/issues"
               style="margin-left: 4px;
                      margin-right: 4px">Issues</a>
            |
            <a href="https://github.com/FRC-Team3484/open-scouting/releases"
               style="margin-left: 4px;
                      margin-right: 4px">Releases</a>
        </div>
    </body>
</html>
