{% extends "emails/email_base.html" %}
{% load static %}

{% block body %}
    <div>
        <img src="https://github.com/nfoert/open-scouting/blob/main/scouting/static/main/images/logo_light.png?raw=true">

        <p style="font-size: 16px;
                  font-family: 'Noto Sans', Arial, Helvetica, sans-serif">
            Hello <strong>{{ username }}</strong>,
        </p>

        <p style="font-size: 16px;
                  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
                  margin-left: 8px">Please enter the following code in your browser to finish creating your account</p>

        <p style="font-size: 24px;
                  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
                  text-align: center;
                  margin-left: 8px">{{ verification_code }}</p>

        <p style="font-size: 16px;
                  font-family: 'Noto Sans', Arial, Helvetica, sans-serif">Thank you for the interest in Open Scouting!</p>
    </div>
{% endblock body %}
