{% extends "emails/email_base.html" %}
{% load static %}

{% block body %}
    <div>
        <img src="https://github.com/FRC-Team3484/open-scouting/blob/main/scouting/static/main/images/logo_light.png?raw=true">

        <p style="font-size: 16px;
                  font-family: 'Noto Sans', Arial, Helvetica, sans-serif">
            Hello <strong>{{ username }}</strong>,
        </p>

        <p style="font-size: 16px;
                  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
                  margin-left: 8px">
            Welcome to Open Scouting! Creating an account now allows you to verify your scouting data. It also gives you access to the ability to save your settings across multiple devices.
        </p>

        <p style="font-size: 16px;
                  font-family: 'Noto Sans', Arial, Helvetica, sans-serif">Thank you for your interest in Open Scouting!</p>
    </div>
{% endblock body %}
