{% extends "base.html" %}
{% load static %}
{% block head_title %}Open Scouting{% endblock %}

{% block head_scripts %}
{% endblock head_scripts %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}
    <script>
        const SERVER_IP = "{{ SERVER_IP }}";
        const CSRF_TOKEN = "{{ csrf_token }}";
        const TBA_API_KEY = "{{ TBA_API_KEY }}";
        const YEARS = '{{ YEARS | safe }}';
    </script>

    <div class="flex flex-col min-h-screen w-screen items-center justify-center">
        <div class="flex flex-row w-full md:w-3/4 lg:w-2/3 mx-8 my-4 py-2 dark:bg-slate-800 border-2 dark:border-slate-700 bg-slate-200 border-slate-300 rounded-lg mb-4 items-center justify-center"
             x-data>
            <img class="w-16 h-16 aspect-square m-2 hover:scale-110 transition-all ease-in-out active:scale-95"
                 src="{% static '/main/images/icon_rounded.png' %}"
                 @click="window.location.href = '{{ SERVER_IP }}'">

            <div class="flex flex-col">
                <div class="flex flex-row items-center">
                    <p class="dark:text-white text-black text-sans text-2xl">Advanced Data View</p>
                </div>
            </div>

        </div>

        <script src="{% static '/main/scripts/advanced_data/filters.js' %}"></script>

        <div class="flex flex-col w-full md:w-3/4 lg:w-2/3 mx-8 my-2 py-2 dark:bg-slate-800 border-2 dark:border-slate-700 bg-slate-200 border-slate-300 rounded-lg gap-2"
             x-data="filters"
             x-show="!offline">
            <p class="dark:text-white text-black text-sans text-2xl ml-4">
                <i class="ph-bold ph-funnel"></i> Filters
            </p>
            <p class="dark:text-white text-black text-sans text-sm ml-6 opacity-80">
                Filter results by year and then by both teams and events. If both a team and event is shown, only data from that team recorded at that event is shown
            </p>
            <div class="flex flex-row items-center gap-2 ml-6" x-ref="year">
                <p class="dark:text-white text-black text-sans text-lg">Year</p>
                <select class="ui_input w-32!"
                        x-ref="year_input"
                        @input="update_results_and_query();">
                    <template x-for="year in YEARS" :key="year">
                        <option x-text="year"></option>
                    </template>
                </select>
            </div>
            <div class="flex flex-row items-center gap-2 ml-6 flex-wrap" x-ref="teams">
                <p class="dark:text-white text-black text-sans text-lg">Teams</p>
                <template x-for="team in teams" :key="teams.indexOf(team)">
                    <button class="ui_button_small flex! flex-row! items-center gap-1"
                            @click="remove_team(team)">
                        <i class="ph-bold ph-x"></i>
                        <img class="w-4 h-4 aspect-square rounded-full"
                             :src='"https://thebluealliance.com/avatar/" + $refs.year_input.value + "/frc" + team + ".png"'
                             @error="event.target.style.display = 'none'">
                        <p x-text="team"></p>
                    </button>
                </template>
                <button class="ui_button_small opacity-80"
                        x-ref="teams_add"
                        @click="add_team_open = !add_team_open">
                    <i class="ph-bold ph-plus"></i> Add
                </button>
            </div>
            <div class="dark:bg-slate-800/80 border-2 dark:border-slate-700 bg-slate-200/80 border-slate-300 rounded-xl flex flex-col backdrop-blur-md z-10 p-2 max-w-screen max-h-64 overflow-y-scroll"
                 x-anchor.offset.5="$refs.teams_add"
                 x-show="add_team_open"
                 x-transition
                 @click.outside="add_team_open = false">
                <div class="flex flex-row items-center gap-2">
                    <input class="ui_input w-full!"
                           type="text"
                           placeholder="Search for a team..."
                           x-ref="teams_search"
                           @input="update_team_search()">
                    <button class="ui_button_small"
                            @click="add_team_open = false; $refs.teams_search.value = ''">
                        <i class="ph-bold ph-x"></i>
                    </button>
                </div>

                <template x-for="team in team_results_filtered">
                    <div class="flex flex-row mx-4 my-1 dark:hover:bg-slate-700/80 hover:bg-slate-200/80 dark:active:bg-slate-600/80 active:bg-slate-100/80 rounded-lg transition-colors"
                         @click="add_team(team)">
                        <img class="w-8 h-8 aspect-square m-2"
                             :src='"https://thebluealliance.com/avatar/" + $refs.year_input.value + "/frc" + team + ".png"'
                             @error="event.target.style.display = 'none'">
                        <p class="dark:text-white text-black text-sans text-md m-2"
                           x-text="team"></p>
                    </div>
                </template>
            </div>

            <div class="flex flex-row items-center gap-2 ml-6 flex-wrap"
                 x-ref="events">
                <p class="dark:text-white text-black text-sans text-lg">Events</p>
                <template x-for="event in events" :key="events.indexOf(event)">
                    <button class="ui_button_small flex! flex-row! items-center gap-1"
                            @click="remove_event(event)">
                        <i class="ph-bold ph-x"></i>
                        <p x-text="event.name"></p>
                    </button>
                </template>
                <button class="ui_button_small opacity-80"
                        x-ref="events_add"
                        @click="add_event_open = !add_event_open">
                    <i class="ph-bold ph-plus"></i> Add
                </button>
            </div>
            <div class="dark:bg-slate-800/80 border-2 dark:border-slate-700 bg-slate-200/80 border-slate-300 rounded-xl flex flex-col backdrop-blur-md z-10 p-2 max-w-screen max-h-64 overflow-y-scroll"
                 x-anchor.offset.5="$refs.events_add"
                 x-show="add_event_open"
                 x-transition
                 @click.outside="add_event_open = false">
                <div class="flex flex-row items-center gap-2">
                    <input class="ui_input w-full!"
                           type="text"
                           placeholder="Search for an event..."
                           x-ref="events_search"
                           @input="update_event_search()">
                    <button class="ui_button_small"
                            @click="add_event_open = false; this.$refs.events_search.value = ''">
                        <i class="ph-bold ph-x"></i>
                    </button>
                </div>

                <template x-for="event in event_results_filtered">
                    <div class="flex flex-col mx-4 my-1 dark:hover:bg-slate-700/80 hover:bg-slate-200/80 dark:active:bg-slate-600/80 active:bg-slate-100/80 rounded-lg transition-colors"
                         @click="add_event(event)">
                        <p class="dark:text-white text-black text-sans text-md m-2"
                           x-text="event.name"></p>
                        <p class="dark:text-white text-black text-sans font-mono text-sm opacity-80 ml-2"
                           x-text="event.code"></p>
                    </div>
                </template>
            </div>
            <p class="dark:text-white text-black font-mono text-sm ml-6 opacity-60 break-all mr-6"
               x-text="query"></p>
            <button class="ui_button_small ml-6" @click="clear_filters()">
                <i class="ph-bold ph-trash"></i> Clear Filters
            </button>

            <div class="flex flex-row flex-wrap items-center">
                <button class="ui_button_small ml-6"
                        x-ref="data_menu_export"
                        @click="data_menu_export_open = !data_menu_export_open">
                    <i class="ph-bold ph-export"></i>
                </button>
                <p class="dark:text-white text-black text-sans text-md opacity-80 ml-2"
                   x-text="'Viewing data for ' + Object.keys(data_sorted).length + ' teams'"></p>
                <div class="dark:bg-slate-700/60 bg-slate-200/60 border-2 dark:border-slate-600 border-slate-300 rounded-xl backdrop-blur-md flex flex-col p-4 z-10"
                     x-show="data_menu_export_open"
                     x-anchor.offset.10="$refs.data_menu_export"
                     @click.outside="data_menu_export_open = false"
                     x-transition>
                    <button class="ui_button_small my-1! py-1! px-2! w-full! text-left!"
                            @click="export_as_json()">
                        <i class="ph-bold ph-file-code"></i> Export data as JSON
                    </button>
                    <button class="ui_button_small my-1! py-1! px-2! w-full! text-left!"
                            @click="export_as_csv()">
                        <i class="ph-bold ph-file-csv"></i> Export data as CSV
                    </button>
                </div>
            </div>

            <!-- TODO: Fix this later -->
            <div class="flex flex-col hidden!">
                <p class="dark:text-white text-black text-sans text-2xl ml-4 mt-4">
                    <i class="ph-bold ph-funnel-simple"></i> Sort By
                </p>
                <p class="dark:text-white text-black text-sans text-sm ml-6 opacity-80">
                    Sorts the data displayed below by each team by a stat. For example, sort the teams in descending order by the average coral scored during the autonomous period
                </p>
                <div class="flex flex-row mx-4 gap-2">
                    <select class="ui_input"
                            x-ref="sort_field"
                            @change="update_results_and_query()">
                        <template x-for="field in sort_fields">
                            <option :value="field.simple_name" x-text="field.name"></option>
                        </template>
                    </select>
                    <select class="ui_input"
                            x-ref="sort_order"
                            @change="update_results_and_query()">
                        <option value="descending">Descending (High to low)</option>
                        <option value="ascending">Ascending (Low to high)</option>
                    </select>
                </div>
            </div>

        </div>

        <script src="{% static '/main/scripts/advanced_data/advanced_data.js' %}"></script>

        <div class="flex flex-col w-full md:w-1/2 lg:w-2/3"
             x-data="advanced_data"
             x-init="init()">
            <template x-for="(teamData, teamNumber) in data" :key="teamNumber">
                <template x-if="Object.keys(teamData).length > 0">
                    <div class="flex flex-col px-4 py-2 dark:bg-slate-800 border-2 dark:border-slate-700 bg-slate-200 border-slate-300 rounded-lg mb-4 items-left"
                         x-data="{ open: false }">
                        <!-- Team Number -->
                        <div class="flex flex-row justify-between items-center cursor-pointer"
                             @click="open = !open">
                            <div class="flex flex-row items-center">
                                <div class="rounded-md w-10 h-10 mr-4 bg-slate-200/80 dark:bg-slate-700/80 border-2 dark:border-slate-600 border-slate-300">
                                    <img :src="'https://www.thebluealliance.com/avatar/'+ year+ '/frc' + teamNumber + '.png'"
                                         onerror="this.onerror=null;this.src='';this.style.display='none';"
                                         class="w-full h-full rounded-md">
                                </div>
                                <p class="dark:text-white text-black text-sans text-2xl"
                                   x-text="teamNumber"></p>
                            </div>

                            <i class="ph-bold ph-caret-down dark:text-white text-black"
                               x-show="open"></i>
                            <i class="ph-bold ph-caret-up dark:text-white text-black" x-show="!open"></i>
                        </div>

                        <!-- Summary -->
                        <div x-show="open" x-collapse>
                            <div class="mt-4 px-4 py-2 border-l-2 dark:border-slate-600 border-slate-200"
                                 x-data="{ open: true }">
                                <div class="flex flex-row justify-between items-center cursor-pointer"
                                     @click="open = !open">
                                    <p class="dark:text-white text-black text-xl font-semibold">Summary</p>
                                    <i class="ph-bold ph-caret-down dark:text-white text-black"
                                       x-show="open"></i>
                                    <i class="ph-bold ph-caret-up dark:text-white text-black" x-show="!open"></i>
                                </div>

                                <div x-show="open" x-collapse class="mt-2 text-sm">
                                    <!-- Averages for scores and misses -->
                                    <!-- Averages for scores and misses -->
                                    <div class="mb-4">
                                        <p class="text-md dark:text-white text-black font-semibold mb-2">Score & Miss Averages</p>
                                        <ul class="ml-4 list-disc list-inside">
                                            <template x-for="phase in ['auton']" :key="phase">
                                                <template x-if="teamData[phase]">
                                                    <template x-for="(pieceData, pieceName) in teamData[phase]" :key="pieceName">
                                                        <template x-for="(categoryData, categoryName) in pieceData" :key="categoryName">
                                                            <template x-for="(fieldData, fieldName) in categoryData" :key="fieldName">
                                                                <li class="dark:text-white text-black">
                                                                    <span class="font-medium"
                                                                          x-text="`${phase.charAt(0).toUpperCase() + phase.slice(1)} - ${categoryName.charAt(0).toUpperCase() + categoryName.slice(1)} - ${fieldName.replace(/_/g, ' ').charAt(0).toUpperCase() + fieldName.replace(/_/g, ' ').slice(1)}`"></span>:
                                                                    <span class="ml-2"
                                                                          :class="{ 'text-green-500': categoryName === 'score', 'text-red-500': categoryName === 'miss', 'dark:text-white text-black': categoryName !== 'score' && categoryName !== 'miss' }"
                                                                          x-text="`${fieldData.average?.toFixed(2) ?? 'N/A'}`"></span>
                                                                </li>
                                                            </template>
                                                        </template>
                                                    </template>
                                                </template>
                                            </template>
                                        </ul>

                                        <ul class="ml-4 list-disc list-inside mt-2">
                                            <template x-for="phase in ['teleop']" :key="phase">
                                                <template x-if="teamData[phase]">
                                                    <template x-for="(pieceData, pieceName) in teamData[phase]" :key="pieceName">
                                                        <template x-for="(categoryData, categoryName) in pieceData" :key="categoryName">
                                                            <template x-for="(fieldData, fieldName) in categoryData" :key="fieldName">
                                                                <li class="dark:text-white text-black">
                                                                    <span class="font-medium"
                                                                          x-text="`${phase.charAt(0).toUpperCase() + phase.slice(1)} - ${categoryName.charAt(0).toUpperCase() + categoryName.slice(1)} - ${fieldName.replace(/_/g, ' ').charAt(0).toUpperCase() + fieldName.replace(/_/g, ' ').slice(1)}`"></span>:
                                                                    <span class="ml-2"
                                                                          :class="{ 'text-green-500': categoryName === 'score', 'text-red-500': categoryName === 'miss', 'dark:text-white text-black': categoryName !== 'score' && categoryName !== 'miss' }"
                                                                          x-text="`${fieldData.average?.toFixed(2) ?? 'N/A'}`"></span>
                                                                </li>
                                                            </template>
                                                        </template>
                                                    </template>
                                                </template>
                                            </template>
                                        </ul>
                                    </div>

                                    <!-- Capability percentages -->
                                    <div>
                                        <p class="text-md dark:text-white text-black font-semibold mb-2">Capabilities</p>
                                        <ul class="ml-4 list-disc list-inside">
                                            <template x-for="(capabilityValue, capabilityName) in teamData.capabilities"
                                                      :key="capabilityName">
                                                <li class="dark:text-white text-black">
                                                    <span class="font-medium"
                                                          x-text="capabilityName.replace(/_/g, ' ').charAt(0).toUpperCase() + capabilityName.replace(/_/g, ' ').slice(1) + ':'"></span>
                                                    <template x-for="(percentage, key) in capabilityValue" :key="key">
                                                        <span class="ml-2"
                                                              :class="{ 'dark:text-gray-400/80 text-gray-600/80': key === 'N/A', 'text-green-500': key.toLowerCase() === 'true', 'text-red-500': key.toLowerCase() === 'false', 'dark:text-white text-black': key.toLowerCase() !== 'true' && key.toLowerCase() !== 'false' && key !== 'N/A' }"
                                                              x-text="`${key.charAt(0).toUpperCase() + key.slice(1)}: ${Math.round(percentage * 100) / 100}%`"></span>
                                                    </template>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Sections: Auton, Teleop, Capabilities, Other -->
                            <template x-for="(section, sectionName) in teamData" :key="sectionName">
                                <div class="mt-4 px-4 py-2 border-l-2 dark:border-slate-600 border-slate-200"
                                     x-data="{ open: false }">
                                    <div class="flex flex-row justify-between items-center cursor-pointer"
                                         @click="open = !open">
                                        <p class="dark:text-white text-black text-xl font-semibold"
                                           x-text="sectionName.charAt(0).toUpperCase() + sectionName.slice(1)"></p>
                                        <i class="ph-bold ph-caret-down dark:text-white text-black"
                                           x-show="open"></i>
                                        <i class="ph-bold ph-caret-up dark:text-white text-black" x-show="!open"></i>
                                    </div>

                                    <div x-show="open" x-collapse>

                                        <!-- Game Pieces (for Auton & Teleop) -->
                                        <template x-if="sectionName === 'auton' || sectionName === 'teleop'">
                                            <template x-for="(pieceData, pieceName) in section" :key="pieceName">
                                                <div class="ml-4 mt-2 pl-2 border-l-2 dark:border-slate-600 border-slate-200">
                                                    <p class="dark:text-white text-black text-lg font-medium"
                                                       x-text="pieceName.charAt(0).toUpperCase() + pieceName.slice(1)"></p>

                                                    <div class="ml-4">
                                                        <!-- Iterate over 'score' and 'miss' -->
                                                        <template x-for="(categoryData, categoryName) in pieceData" :key="categoryName">
                                                            <div class="mt-2">
                                                                <p class="dark:text-white text-black text-md font-semibold"
                                                                   x-text="categoryName.charAt(0).toUpperCase() + categoryName.slice(1)"></p>

                                                                <div class="ml-4">
                                                                    <template x-for="(fieldData, fieldName) in categoryData" :key="fieldName">
                                                                        <div class="p-2 border dark:border-slate-700 border-slate-300 rounded-lg mb-2">
                                                                            <p class="dark:text-white text-black text-md font-medium"
                                                                               x-text="fieldName.replace(/_/g, ' ').charAt(0).toUpperCase() + fieldName.replace(/_/g, ' ').slice(1)">
                                                                            </p>
                                                                            <p class="dark:text-white text-black text-sm"
                                                                               x-text="`Average: ${fieldData.average?.toFixed(2) ?? 'N/A'}`"></p>
                                                                            <canvas x-init="create_line_chart($el, fieldData.values, fieldName, fieldData.stat_type)"></canvas>
                                                                        </div>
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </template>
                                                    </div>
                                                </div>
                                            </template>
                                        </template>

                                        <!-- Capabilities (Pie Chart Representation) -->
                                        <template x-if="sectionName === 'capabilities'">
                                            <div class="ml-4 mt-2">
                                                <template x-for="(capabilityValue, capabilityName) in section"
                                                          :key="capabilityName">
                                                    <div class="p-2 border dark:border-slate-700 border-slate-300 rounded-lg mb-2">
                                                        <p class="dark:text-white text-black text-lg font-semibold"
                                                           x-text="capabilityName.replace(/_/g, ' ').charAt(0).toUpperCase() + capabilityName.replace(/_/g, ' ').slice(1)"></p>
                                                        <div class="flex flex-row h-full items-center">
                                                            <div class="flex flex-col justify-center w-1/2">
                                                                <ul class="ml-4 list-disc list-inside">
                                                                    <template x-for="(percentage, key) in capabilityValue" :key="key">
                                                                        <li class="dark:text-white text-black text-sm"
                                                                            x-text="`${key.charAt(0).toUpperCase() + key.slice(1)}: ${Math.round(percentage * 100) / 100}%`"></li>
                                                                    </template>
                                                                </ul>
                                                            </div>
                                                            <div class="flex justify-center w-1/2">
                                                                <canvas x-init="create_donut_chart($el, Object.values(capabilityValue), Object.keys(capabilityValue), capabilityName)"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </template>
                                            </div>
                                        </template>

                                        <!-- Other (List Representation) -->
                                        <template x-if="sectionName === 'other'">
                                            <div class="ml-4 mt-2">
                                                <ul class="ml-4 list-disc list-inside">
                                                    <template x-for="(option, index) in section" :key="index">
                                                        <li class="dark:text-white text-black text-md" x-text="option"></li>
                                                    </template>
                                                </ul>
                                            </div>
                                        </template>

                                    </div>
                                </template>
                            </div>
                        </div>
                    </template>
                </template>
            </div>
        </div>

    {% endblock body %}

    {% block scripts %}
    {% endblock scripts %}
