{% extends "base.html" %}
{% load static %}
{% block head_title %}Open Scouting | Contribute{% endblock %}

{% block head_scripts %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <script>
        const SERVER_IP = `{{ SERVER_IP }}`;
        const CSRF_TOKEN = `{{ csrf_token }}`;
        const TBA_API_KEY = `{{ TBA_API_KEY }}`;
        const EMAIL_ENABLED = `{{ EMAIL_ENABLED }}`;
    </script>

    <div class="flex h-screen justify-center items-center flex-col w-screen"
         x-data>
        <img class="w-full md:w-1/2 xl:w-2/6 px-10 hidden dark:block hover:scale-[1.03] active:scale-95 transition-all"
             src="{% static '/main/images/logo_light.png' %}"
             @click="window.location.href = '{{ SERVER_IP }}'">
        <img class="w-full md:w-1/2 xl:w-2/6 px-10 dark:hidden block hover:scale-[1.03] active:scale-95 transition-all"
             src="{% static '/main/images/logo_dark.png' %}"
             @click="window.location.href = '{{ SERVER_IP }}'">
        <p class="dark:text-white text-black text-sans text-center text-lg">Sign in or create an account</p>

        <script src="{% static '/main/scripts/authentication/auth.js' %}"></script>

        <div class="mt-4" x-data="auth">
            <div class="flex flex-col items-center dark:bg-slate-800 dark:border-slate-700 bg-slate-200 border-slate-300 border-2 rounded-2xl py-6 px-4 mx-2"
                 x-show="sign_in"
                 x-transition:enter.delay.300ms>
                <p class="dark:text-white text-black text-sans text-center text-2xl mb-2">
                    <i class="ph-bold ph-user-circle-check"></i> Sign in
                </p>

                <div class="flex flex-row dark:bg-red-500/50 dark:border-red-400/70 border-2 rounded-lg bg-red-400/50 border-red-500/70 my-4 mx-2"
                     x-show="sign_in_error"
                     x-transition>
                    <p class="dark:text-red-400 text-red-500 text-sans text-center text-md m-2"
                       x-text="sign_in_error"></p>
                </div>

                <div class="flex flex-col w-full items-center">
                    <input class="ui_input w-full"
                           placeholder="Email"
                           type="text"
                           x-ref="sign_in_email"
                           @input="check_sign_in_fields()">
                    <input class="ui_input w-full"
                           placeholder="Password"
                           :type="sign_in_show_password ? 'text' : 'password'"
                           x-ref="sign_in_password"
                           @input="check_sign_in_fields()">

                    <div class="flex flex-row items-center w-full justify-center mt-2 mb-1">
                        <input class="ui_checkbox ml-2"
                               @input="$el.checked ? sign_in_show_password = true : sign_in_show_password = false"
                               type="checkbox">
                        <p class="dark:text-white text-black text-sans text-md ml-2"
                           @click="check_password_visibility()"
                           x-show="!sign_in_show_password">Show Password</p>
                        <p class="dark:text-white text-black text-sans text-md ml-2"
                           @click="check_password_visibility()"
                           x-show="sign_in_show_password">Hide Password</p>
                    </div>

                </div>

                <button class="ui_button"
                        x-ref="sign_in_button"
                        @click="sign_in_request()"
                        disabled>
                    <i class="ph-bold ph-check-circle"></i> Sign in
                </button>

                <div class="h-1 w-16 mb-2 dark:bg-slate-700 border-1 dark:border-slate-600 bg-slate-300 border-slate-400 rounded-full"></div>
                <p class="dark:text-white text-black text-sans text-center text-md">Or...</p>
                <button class="ui_button" @click="sign_in = false">
                    <i class="ph-bold ph-user-circle-plus"></i> Create Account
                </button>
            </div>

            <div class="flex flex-col items-center dark:bg-slate-800 dark:border-slate-700 bg-slate-200 border-slate-300 border-2 rounded-2xl py-6 px-4 mx-2"
                 x-show="!sign_in"
                 x-transition:enter.delay.300ms>
                <p class="dark:text-white text-black text-sans text-center text-2xl">
                    <i class="ph-bold ph-user-circle-plus"></i> Create Account
                </p>

                <div class="flex flex-col items-center my-8"
                     x-show="create_account_page == 1"
                     x-transition:enter.delay.300ms>
                    <p class="dark:text-white text-black text-sans text-center text-md">Enter display name and team number</p>
                    <input class="ui_input"
                           placeholder="Display Name"
                           type="text"
                           x-ref="create_display_name"
                           @input="check_display_name_and_team_number()">
                    <input class="ui_input"
                           placeholder="Team Number"
                           type="text"
                           x-ref="create_team_number"
                           @input.debounce.250ms="display_team_number"
                           @input="check_display_name_and_team_number()">

                    <div class="flex flex-row items-center justify-center mt-2"
                         x-show="team_number.show"
                         x-transition>
                        <img class="mr-2"
                             :src="team_number.avatar"
                             @error="team_number.show_image = false"
                             x-show="team_number.show_image"
                             x-transition>
                        <p class="dark:text-white text-black text-sans text-md"
                           x-text="team_number.nickname"></p>
                    </div>

                    <button class="ui_button mx-1"
                            @click="create_account_page = 2"
                            x-ref="create_display_name_team_number_next"
                            disabled>
                        <i class="ph-bold ph-arrow-circle-right"></i> Next
                    </button>
                </div>

                <div class="flex flex-col items-center my-8"
                     x-show="create_account_page == 2"
                     x-transition:enter.delay.300ms>
                    <p class="dark:text-white text-black text-sans text-center text-md">Enter email</p>
                    <input class="ui_input"
                           placeholder="Email"
                           type="text"
                           x-ref="create_email"
                           @input="check_email()">

                    <div class="flex flex-row">
                        <button class="ui_button mx-1" @click="create_account_start_over()">
                            <i class="ph-bold ph-arrow-circle-left"></i> Start Over
                        </button>
                        <button class="ui_button mx-1"
                                @click="send_verification_code(); sending_email = true"
                                x-ref="create_email_next"
                                disabled>
                            <i class="ph-bold ph-arrow-circle-right"></i> Next
                        </button>
                    </div>

                    <div class="flex flex-row items-center justify-center"
                         x-show="sending_email"
                         x-transition>
                        <i class="ph-bold ph-circle-notch animate-spin ori dark:text-white text-black text-sans text-md"></i>
                        <p class="dark:text-white text-black text-sans text-md ml-2">Sending Verification Code...</p>
                    </div>
                </div>

                <div class="flex flex-col items-center my-8"
                     x-show="create_account_page == 3"
                     x-transition:enter.delay.300ms>
                    <p class="dark:text-white text-black text-sans text-center text-md">Verify email</p>
                    <p class="dark:text-white text-black text-sans text-center text-sm">
                        <p class="dark:text-white text-black text-sans text-center text-sm mx-2 max-w-2xl opacity-80"
                           x-text="'We sent a verification code to ' + user.email + '. Please check your email for a message from {{ EMAIL_HOST_USER }} and enter the verification code below'">
                        </p>
                    </p>

                    <div class="flex flex-row dark:bg-red-500/50 dark:border-red-400/70 border-2 rounded-lg bg-red-400/50 border-red-500/70 my-4 mx-2 max-w-2xl"
                         x-show="verification_code_error"
                         x-transition>
                        <p class="dark:text-red-400 text-red-500 text-sans text-center text-md m-2"
                           x-text="verification_code_error"></p>
                    </div>

                    <input class="ui_input"
                           placeholder="Verification Code"
                           type="text"
                           x-ref="create_verification_code"
                           @input="check_verification_code_fields()">

                    <div class="flex flex-row">
                        <button class="ui_button mx-1" @click="create_account_start_over()">
                            <i class="ph-bold ph-arrow-circle-left"></i> Start Over
                        </button>
                        <button class="ui_button mx-1"
                                @click="check_verification_code()"
                                x-ref="create_verify_next">
                            <i class="ph-bold ph-arrow-circle-right"></i> Verify
                        </button>
                    </div>

                    <button class="ui_button mx-1"
                            @click="send_verification_code()"
                            x-ref="create_verify_next">
                        <i class="ph-bold ph-arrow-clockwise"></i> Resend Code
                    </button>
                </div>

                <div class="flex flex-col items-center my-8"
                     x-show="create_account_page == 4"
                     x-transition:enter.delay.300ms>
                    <p class="dark:text-white text-black text-sans text-center text-md">Create password</p>
                    <p class="dark:text-white text-black text-sans text-center text-sm mx-2">
                        Secure passwords are longer than 8 characters, contain numbers and symbols, and have capital and lowercase letters.
                    </p>

                    <div class="flex flex-row dark:bg-green-700/50 dark:border-green-500/70 border-2 rounded-lg bg-green-400/50 border-green-600/70 my-4 mx-2 max-w-2xl"
                         x-show="verification_code_success"
                         x-transition>
                        <p class="dark:text-green-500 text-green-600 text-sans text-center text-md m-2"
                           x-text="verification_code_success"></p>
                    </div>

                    <div class="flex flex-row dark:bg-red-500/50 dark:border-red-400/70 border-2 rounded-lg bg-red-400/50 border-red-500/70 my-4 mx-2 max-w-2xl"
                         x-show="create_account_error"
                         x-transition>
                        <p class="dark:text-red-400 text-red-500 text-sans text-center text-md m-2"
                           x-text="create_account_error"></p>
                    </div>

                    <div class="flex flex-row items-center justify-center">
                        <input class="ui_input"
                               placeholder="Password"
                               type="password"
                               x-ref="create_password"
                               @input="check_password_field_and_strength()">

                        <input class="ui_checkbox ml-4"
                               @click="check_password_visibility()"
                               type="checkbox">
                        <p class="dark:text-white text-black text-sans text-md ml-2"
                           x-ref="create_password_visibility_label"
                           @click="check_password_visibility()">Show</p>
                    </div>

                    <p class="dark:text-white text-black text-sans text-center text-md"
                       x-text="password_strength"
                       x-ref="create_password_strength"
                       x-show="password_strength"
                       x-transition></p>

                    <div class="flex flex-row">
                        <button class="ui_button mx-1" @click="create_account_start_over()">
                            <i class="ph-bold ph-arrow-circle-left"></i> Start Over
                        </button>
                        <button class="ui_button mx-1"
                                @click="create_account()"
                                x-ref="create_create_account">
                            <i class="ph-bold ph-check-circle"></i> Create Account
                        </button>
                    </div>
                </div>

                <div class="flex flex-col items-center my-8"
                     x-show="create_account_page == 5"
                     x-transition:enter.delay.300ms>
                    <p class="dark:text-white text-black text-sans text-center text-md">Your account has been successfully created!</p>
                    <p class="dark:text-white text-black text-sans text-center text-6xl my-2">
                        <i class="ph-bold ph-check-circle"></i>
                    </p>
                    <p class="dark:text-white text-black text-sans text-center text-sm">You will be redirected in a few moments, or you can press the button below</p>

                    <div class="flex flex-row">
                        <button class="ui_button mx-1" @click="go_to_index()">
                            <i class="ph-bold ph-house"></i> Go to Home
                        </button>
                    </div>
                </div>

                <div class="h-1 w-16 mb-2 dark:bg-slate-700 border-1 dark:border-slate-600 bg-slate-300 border-slate-400 rounded-full"></div>
                <p class="dark:text-white text-black text-sans text-center text-md">Or...</p>
                <button class="ui_button" @click="sign_in = true">
                    <i class="ph-bold ph-user-circle-check"></i> Sign in
                </button>
            </div>
        </div>
    </div>
{% endblock body %}
