{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block head_scripts %}{% endblock head_scripts %}

        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

        {% block stylesheets %}{% endblock stylesheets %}

        <link rel="shortcut icon" type="image/png" href="{% static '/main/images/favicon.ico' %}" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block head_title %}{% endblock %}</title>
    </head>
    <body>
        {% block body %}{% endblock %}
        
        {% block scripts %}{% endblock %}
    </body>
</html>