{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block head_scripts %}
        {% endblock head_scripts %}

        <script src="https://unpkg.com/@phosphor-icons/web"></script>

        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        {% block stylesheets %}
        {% endblock stylesheets %}
        <link href="{% static '/main/styles.css' %}" rel="stylesheet">
        <link rel="shortcut icon"
              type="image/png"
              href="{% static '/main/images/favicon.ico' %}" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}{% endblock %}
        </title>
    </head>
    <body class="bg-gradient-to-br from-rose-200 to-blue-200 dark:bg-gradient-to-br dark:from-slate-800 dark:to-slate-900">
        {% block body %}{% endblock %}

        {% block scripts %}{% endblock %}
    </body>
</html>
