{% extends "base.html" %}
{% load static %}
{% block head_title %}Open Scouting | Contribute{% endblock %}

{% block head_scripts %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="flex flex-col h-full w-screen items-center justify-center">

        <div class="flex flex-row w-full md:w-3/4 lg:w-2/3 mx-8 my-4 py-2 dark:bg-slate-800 border-2 dark:border-slate-700 bg-slate-200 border-slate-300 rounded-lg mb-4 items-center justify-center"
             x-data="contribute_header()">
            <img class="w-16 h-16 aspect-square m-2 hover:scale-110 transition-all ease-in-out active:scale-95"
                 src="{% static '/main/images/icon_rounded.png' %}"
                 @click="window.location.href = '{{ SERVER_IP }}'">

            <div class="flex flex-col">
                <div class="flex flex-row items-center">

                    <button class="ui_button_icon mr-2"
                            @click="page_dropdown = !page_dropdown"
                            x-ref="page_button">
                        <i class="ph-bold ph-dots-three"></i>
                    </button>
                    <div class="dark:bg-slate-700/60 bg-slate-200/60 border-2 dark:border-slate-600 border-slate-300 rounded-xl backdrop-blur-md flex flex-col p-4 z-10"
                         x-show="page_dropdown"
                         x-anchor.offset.10="$refs.page_button"
                         x-transition>
                        <button class="ui_button_small !my-1 !py-1 !px-2 !w-full !text-left"
                                @click="go_to_contribute">
                            <i class="ph-bold ph-pencil"></i> Add Scouting Reports
                        </button>
                        <button class="ui_button_small !my-1 !py-1 !px-2 !w-full !text-left"
                                @click="go_to_data">
                            <i class="ph-bold ph-database"></i> View Scouting Data
                        </button>
                        <button class="ui_button_small !my-1 !py-1 !px-2 !w-full !text-left"
                                @click="go_to_pits">
                            <i class="ph-bold ph-garage"></i> Pit Scouting
                        </button>
                    </div>
                    <p class="dark:text-white text-black text-sans text-2xl">Contribute</p>
                </div>

                <div class="flex flex-row" x-show="!demo">
                    <p class="dark:text-white text-black text-sans text-sm mx-1">Contributing data to event</p>
                    <p class="dark:text-white text-black text-sans font-bold text-sm mx-1">{{ event_name }}</p>
                    <p class="dark:text-white text-black text-sans text-sm mx-1">as</p>
                    <p class="dark:text-white text-black text-sans font-bold text-sm mx-1">{{ username }}</p>
                </div>

                <div class="flex flex-col p-2 ml-2 mt-2 rounded-lg border-solid border-2 dark:border-slate-600 dark:bg-purple-900/50 border-slate-300 bg-purple-200/50"
                     x-show="demo">
                    <p class="dark:text-white text-black font-sans text-md ">
                        <i class="ph-bold ph-test-tube"></i> Open Scouting is in demo mode
                    </p>
                    <p class="dark:text-white text-black font-sans text-sm">Any contributed data will not be saved to the server</p>
                </div>
            </div>
        </div>

        <script>
            function contribute_header() {
                return {
                    demo: false,
                    page_dropdown: false,
                    page_path: "/contribute",

                    go_to_contribute() {
                        let url = new URL(window.location.href);
                        url.pathname = url.pathname.replace(this.page_path, "/contribute");
                        window.location.href = url.toString();
                    },

                    go_to_data() {
                        let url = new URL(window.location.href);
                        url.pathname = url.pathname.replace(this.page_path, "/data");
                        window.location.href = url.toString();
                    },

                    go_to_pits() {
                        let url = new URL(window.location.href);
                        url.pathname = url.pathname.replace(this.page_path, "/pits");
                        window.location.href = url.toString();
                    },

                    init() {
                        try {
                            this.demo = JSON.parse("{{ demo }}");
                        } catch {
                            this.demo = false;
                        }
                    }
                }
            }
        </script>

        <div class="lex flex-row w-full md:w-3/4 lg:w-2/3 mx-8 mb-4 py-2 dark:bg-green-800/70 bg-green-400/70 border-2 dark:border-green-700 border-green-500 bg-opacity-80 rounded-lg border-opacity-80 items-center justify-center"
             x-data="submitted_check()"
             x-show="show"
             x-transition>
            <div>
                <p class="dark:text-white text-black text-sans text-center">
                    <i class="ph-bold ph-check-circle"></i> The data has been successfully submitted
                </p>
            </div>
        </div>

        <script>
            function submitted_check() {
                return {
                    show: false,

                    init() {
                        try {
                            this.show = JSON.parse(
                                new URL(window.location.href).searchParams.get("submitted").toLowerCase()
                            );
                        } catch {
                            this.show = false;
                        }
                    }
                }
            }

        </script>

        <div class="lex flex-row w-full md:w-3/4 lg:w-2/3 mx-8 mb-4 py-2 dark:bg-orange-800/70 bg-orange-400/70 border-2 dark:border-orange-700 border-orange-500 bg-opacity-80 rounded-lg border-opacity-80 items-center justify-center"
             x-data="submitted_offline_check()"
             x-show="show"
             x-transition>
            <div>
                <p class="dark:text-white text-black text-sans text-center">
                    <i class="ph-bold ph-floppy-disk"></i> The data has been successfully stored locally. It will be uploaded when you go online.
                </p>
            </div>
        </div>

        <script>
            function submitted_offline_check() {
                return {
                    show: false,

                    init() {
                        try {
                            this.show = JSON.parse(
                                new URL(window.location.href).searchParams.get("submitted_offline").toLowerCase()
                            );
                        } catch {
                            this.show = false;
                        }
                    }
                }
            }

        </script>

        <div class="lex flex-row w-full md:w-3/4 lg:w-2/3 mx-8 mb-4 py-2 dark:bg-purple-900/50 bg-purple-200/50 dark:border-purple-900/80 border-2 border-purple-500 bg-opacity-80 rounded-lg border-opacity-80 items-center justify-center"
             x-data="demo_check()"
             x-show="show"
             x-transition>
            <div>
                <p class="dark:text-white text-black text-sans text-center">
                    <i class="ph-bold ph-test-tube"></i> The data isn't submitted to the server while you're in demo mode
                </p>
            </div>
        </div>

        <script>
        function demo_check() {
        return {
            show: false,

            init() {
                try {
                    this.show = JSON.parse(
                        new URL(window.location.href).searchParams.get("submitted_demo").toLowerCase()
                    );
                } catch {
                    this.show = false;
                }
            }
        }
        }

        </script>

        <div x-data="team_information()"
             x-show="show"
             class="flex flex-col w-full md:w-3/4 lg:w-2/3 mx-8 py-2 dark:bg-slate-800 border-2 dark:border-slate-700 bg-slate-200 border-slate-300 rounded-lg mb-4 px-6 gap-2"
             x-transition>
            <div class="flex flex-row items-center gap-2">
                <i class="ph-bold ph-selection dark:text-white text-black"></i>
                <p class="dark:text-white text-black text-sans text-lg">Select position to watch</p>
                <span class="dark:bg-slate-700 bg-slate-300 rounded-full px-2 py-1 text-xs dark:text-white text-black tippy-target"
                      data-tippy-content="Testing is needed to determine if this feature works at all events. Please open an issue if any issues are encountered">Experimental</span>
            </div>
            <p class="dark:text-white text-black text-sans text-sm opacity-80">
                While scouting, watch teams during a match based on their position in the driver stations or on the screen. For example, if you select "Red 1", you should watch the first team on the red alliance.
            </p>
            <p class="dark:text-white text-black text-sans text-sm opacity-80">In some cases data may be inaccurate or unavailable. Set to "None" to disable</p>

            <div class="flex flex-row items-center gap-2">
                <select class="ui_input !w-32"
                        x-ref="team"
                        @change="changeColor($event); process_data()">
                    <option value="None">None</option>
                    <option value="Red 1" class="!text-red-500">Red 1</option>
                    <option value="Red 2" class="!text-red-500">Red 2</option>
                    <option value="Red 3" class="!text-red-500">Red 3</option>
                    <option value="Blue 1" class="!text-blue-500">Blue 1</option>
                    <option value="Blue 2" class="!text-blue-500">Blue 2</option>
                    <option value="Blue 3" class="!text-blue-500">Blue 3</option>
                </select>

                <script>
                function changeColor(value) {
                    const selectedOption = event.target.options[event.target.selectedIndex];
                    event.target.className = `ui_input !w-32 ${selectedOption.className}`;

                    const urlParams = new URLSearchParams(window.location.search);
                    urlParams.set('position', encodeURIComponent(event.target.value));
                    window.history.replaceState({}, '', `${window.location.pathname}?${urlParams}`);
                }
                </script>

                <p class="dark:text-white text-black font-bold text-sans text-md"
                   x-show="team_to_watch"
                   x-transition
                   x-text="'Look for robot ' + team_to_watch"></p>
            </div>

        </div>

        <script>
            function team_information() {
                return {
                    show: true,
                    match_number: "",
                    match_type: "",
                    team_to_watch: "",
                    event_data: [],
                    event_cached: "",

                    async get_event_data() {
                        let team = this.$refs.team.value;
                        let year = new URL(window.location.href).searchParams.get("year");
                        let event_code = new URL(window.location.href).searchParams.get("event_code");

                        var response = await fetch(`https://www.thebluealliance.com/api/v3/event/${year + event_code}/matches/simple`, {
                            method: "GET",
                            headers: {
                                "X-TBA-Auth-Key": "{{ TBA_API_KEY }}"
                            }
                        });
                            
                        if (response.ok) {
                            let data = await response.json();
                            this.event_data = data;
                            this.event_cached = year + event_code;
                        }
                    },

                    async process_data() {
                        let team = this.$refs.team.value;
                        let year = new URL(window.location.href).searchParams.get("year");
                        let event_code = new URL(window.location.href).searchParams.get("event_code");

                        if (this.event_cached != year + event_code) {
                            await this.get_event_data();
                        } 

                        if (this.match_type == "Practice Match" || this.match_type == "Other Match" || this.match_type == "N/A") {
                            // Don't return a team

                            this.team_to_watch = "";
                            this.show = false;
                            
                        } else if (this.match_type == "Qualification Match" || this.match_type == "Playoff Match") {
                            // Return a team based off of the match type
                            this.show = true;

                            if (this.match_type == "Qualification Match") {
                                let data = this.event_data.filter(match => match.comp_level == "qm" && match.match_number == parseInt(this.match_number));
                                if (data[0] != undefined) {
                                    if (team.includes("Red")) {
                                        this.team_to_watch = data[0].alliances.red.team_keys[team.replace("Red ", "") - 1].replace("frc", "");
                                    } else if (team.includes("Blue")) {
                                        this.team_to_watch = data[0].alliances.blue.team_keys[team.replace("Blue ", "") - 1].replace("frc", "");
                                    }
                                } else {
                                    this.team_to_watch = "";
                                }
                            } else if (this.match_type == "Playoff Match") {
                                let data = this.event_data.filter(match => match.comp_level == "sf" && match.match_number == parseInt(this.match_number));
                                if (data[0] != undefined) {
                                    if (team.includes("Red")) {
                                        this.team_to_watch = data[0].alliances.red.team_keys[team.replace("Red ", "") - 1].replace("frc", "");
                                    } else if (team.includes("Blue")) {
                                        this.team_to_watch = data[0].alliances.blue.team_keys[team.replace("Blue ", "") - 1].replace("frc", "");
                                    }
                                } else {
                                    this.team_to_watch = "";
                                }
                            }
                        }

                        window.dispatchEvent(new CustomEvent('set_team_number', {
                            detail: { team_number: this.team_to_watch }
                        }));
                    },

                    init() {
                        const position = decodeURIComponent(new URL(window.location.href).searchParams.get("position"));
                        this.$refs.team.value = position;
                        const selectedOption = Array.from(this.$refs.team.options).find(option => option.value === position);
                        if (selectedOption) {
                            this.$refs.team.className = `ui_input !w-32 ${selectedOption.className}`;
                        }

                        window.addEventListener('match_number_change', (event) => {
                            event.stopImmediatePropagation();
                            const { match_number } = event.detail;
                            
                            this.match_number = match_number;

                            this.process_data();
                        });

                        window.addEventListener('match_type_change', (event) => {
                            event.stopImmediatePropagation();
                            const { match_type } = event.detail;
                            
                            this.match_type = match_type;

                            this.process_data();
                        });
                    }
                }
            }
        </script>

        <div class="w-full md:w-3/4 lg:w-2/3 mx-8" x-data="field_manager()"></div>

        <script>
            function field_manager() {
                return {
                    field_data: '{{ season_fields|safe }}',

                    send_match_number() {
                        window.dispatchEvent(new CustomEvent('match_number_change', {
                            detail: { match_number: document.querySelector("input[name='match_number']").value }
                        }));
                    },

                    send_match_type() {
                        window.dispatchEvent(new CustomEvent('match_type_change', {
                            detail: { match_type: document.querySelector("select[name='match_type']").value }
                        }));
                    },

                    create_field(field) {
                        let label_text;
                        if (field.required == true) {
                            label_text = `${field.name}*`;
                        } else {
                            label_text = `${field.name}`;
                        }

                        let label = document.createElement('label');
                        label.innerText = label_text;
                        label.classList = "dark:text-white text-black mb-2 text-sm text-sans";

                        let field_container = document.createElement('div');
                        field_container.classList = "flex flex-col mb-4 py-2 my-2 border-l-2 pl-2 dark:border-slate-700 border-slate-300 justify-left";

                        let field_element;

                        if (field.type === 'large_integer') {
                            field_element = document.createElement('input');
                            field_element.type = 'number';
                            field_element.pattern = '[0-9]*';
                            field_element.setAttribute('name', field.simple_name);
                            field_element.setAttribute('x-ref', field.simple_name);
                            field_element.classList = "dark:text-white text-black dark:bg-slate-700 bg-slate-300 rounded px-2 py-1 mb-2";

                            if (field.simple_name == "match_number") {
                                field_element.setAttribute("x-on:input.debounce.300ms", "send_match_number()");
                            }

                        } else if (field.type === 'integer') {
                            field_element = document.createElement("div");
                            field_element.classList = "flex flex-row align-center items-center justify-between";
                            field_element.classList.add("field_other")
                            field_element.setAttribute("x-data", `{ value: ${field.default}, min: ${field.minimum}, max: ${field.maximum} }`);
                            field_element.setAttribute("x-bind:value", `value`);
                            field_element.setAttribute('name', field.simple_name);
                            field_element.setAttribute('x-ref', field.simple_name);

                            let integer_text = document.createElement('p');
                            integer_text.setAttribute('x-text', "value");
                            integer_text.classList = "dark:text-white text-black text-xl font-bold";

                            let integer_buttons = document.createElement("div");
                            integer_buttons.classList = "flex flex-row";

                            let integer_add_button = document.createElement("button");
                            integer_add_button.classList = "ui_button_icon mx-2 touch-manipulation";
                            integer_add_button.setAttribute("x-on:click", "value < max ? value = value + 1 : null");
                            integer_add_button.innerHTML = `<i class="ph-bold ph-plus"></i>`;

                            let integer_subtract_button = document.createElement("button");
                            integer_subtract_button.classList = "ui_button_icon mx-2 touch-manipulation";
                            integer_subtract_button.setAttribute("x-on:click", "value > min ? value = value - 1 : null");
                            integer_subtract_button.innerHTML = `<i class="ph-bold ph-minus"></i>`;

                            integer_buttons.appendChild(integer_add_button);
                            integer_buttons.appendChild(integer_subtract_button);

                            field_element.appendChild(integer_text);
                            field_element.appendChild(integer_buttons);

                        } else if (field.type === 'boolean') {
                            field_element = document.createElement('input');
                            field_element.type = 'checkbox';
                            field_element.setAttribute('name', field.simple_name);
                            field_element.setAttribute('x-ref', field.simple_name);
                            field_element.classList = "ui_checkbox ml-auto mr-2 !w-8 !h-8";

                        } else if (field.type === 'choice') {
                            field_element = document.createElement('select');
                            field_element.setAttribute('name', field.simple_name);
                            field_element.setAttribute('x-ref', field.simple_name);
                            field_element.classList = "dark:text-white text-black dark:bg-slate-700 bg-slate-300 rounded px-2 py-1 mb-2";

                            // Add choices as options
                            field.choices.forEach(choice => {
                                let option = document.createElement('option');
                                option.value = choice;
                                option.text = choice;
                                field_element.appendChild(option);
                            });

                            if (field.simple_name == "match_type") {
                                field_element.setAttribute("x-on:input.debounce.300ms", "send_match_type()");
                            }

                        } else if (field.type === 'multiple_choice') {
                            field_element = document.createElement('select');
                            field_element.setAttribute('name', field.simple_name);
                            field_element.setAttribute('x-ref', field.simple_name);
                            field_element.setAttribute('multiple', 'multiple');
                            field_element.classList = "dark:text-white text-black dark:bg-slate-700 bg-slate-300 rounded px-2 py-1 mb-2";

                            // Add multiple choices as options
                            field.choices.forEach(choice => {
                                let option = document.createElement('option');
                                option.value = choice;
                                option.text = choice;
                                field_element.appendChild(option);
                            });
                        } else if (field.type === "text") {
                            field_element = document.createElement('input');
                            field_element.type = 'text';
                            field_element.setAttribute('name', field.simple_name);
                            field_element.setAttribute('x-ref', field.simple_name);
                            field_element.classList = "dark:text-white text-black dark:bg-slate-700 bg-slate-300 rounded px-2 py-1 mb-2";
                        }

                        if (field.required) {
                            field_element.setAttribute("scouting_required", true);
                        } else {
                            field_element.setAttribute("scouting_required", false);
                        }

                        field_element.setAttribute("scouting_type", field.type)
                        field_element.setAttribute("scouting_stat_type", field.stat_type)
                        field_element.setAttribute("scouting_game_piece", field.game_piece)

                        field_container.appendChild(label);
                        field_container.appendChild(field_element);

                        return field_container;
                    },

                    create_section(section) {
                        let section_text_text = document.createElement("p");
                        section_text_text.innerHTML = `<i class="ph-bold ph-arrow-bend-down-right"></i> ${section.section}`;
                        section_text_text.classList = "dark:text-white text-black text-md text-sans";

                        let section_text_icon_open = document.createElement("p");
                        section_text_icon_open.innerHTML = "<i class='ph-bold ph-caret-up'></i>";
                        section_text_icon_open.classList = "text-black dark:text-white";
                        section_text_icon_open.setAttribute("x-show", "!open");

                        let section_text_icon_close = document.createElement("p");
                        section_text_icon_close.innerHTML = "<i class='ph-bold ph-caret-down'></i>";
                        section_text_icon_close.classList = "text-black dark:text-white";
                        section_text_icon_close.setAttribute("x-show", "open");

                        let section_text = document.createElement("div");
                        section_text.appendChild(section_text_text);
                        section_text.appendChild(section_text_icon_open);
                        section_text.appendChild(section_text_icon_close);
                        section_text.classList = "dark:text-white text-black flex flex-row items-center justify-between cursor-pointer";

                        section_text.setAttribute("x-on:click", "open = !open");

                        let section_box = document.createElement("div");
                        section_box.className = "section_box mt-2";
                        section_box.setAttribute("x-show", "open");
                        section_box.setAttribute("x-collapse", "");

                        let section_element = document.createElement("div");
                        section_element.setAttribute("x-ref", section.simple_name ? section.simple_name : 'no_simple_name');
                        section_element.classList = "dark:bg-slate-800 bg-slate-200 border-2 dark:border-slate-700 border-slate-300 rounded-lg mb-4 px-8 py-4 flex flex-col";
                        section_element.setAttribute("x-data", "{ open: true }");

                        section_element.appendChild(section_text);
                        section_element.appendChild(section_box);

                        return section_element;
                    },

                    parse_json(data, section) {
                        data.forEach(parent => {
                            if (section) { // Create all sub fields inside
                                if (parent.fields) { // If the item is a section
                                    let section_element = this.create_section(parent);
                                    section.querySelector(".section_box").appendChild(section_element);
                                    this.parse_json(parent.fields, section_element);

                                } else { // If the item is a field
                                    section.querySelector(".section_box").appendChild(this.create_field(parent));
                                }

                            } else {
                                if (parent.fields) { // If the item is a section
                                    let section_element = this.create_section(parent);
                                    this.$root.appendChild(section_element);
                                    this.parse_json(parent.fields, section_element);

                                } else { // If the item is a field
                                    this.$root.appendChild(this.create_field(parent));
                                }
                            }
                        });
                    },
                    
                    init() {
                        this.parse_json(JSON.parse(this.field_data));

                        let urlParams = new URLSearchParams(window.location.search);

                        let match_number = urlParams.get('match_number', '');
                        let match_type = urlParams.get('match_type', 'N/A');

                        document.querySelector('input[name="match_number"]').value = match_number;
                        document.querySelector('select[name="match_type"]').value = decodeURIComponent(match_type);

                        this.send_match_number();
                        this.send_match_type();

                        window.addEventListener('set_team_number', (event) => {
                            event.stopImmediatePropagation();
                            const { team_number } = event.detail;
                            
                            document.querySelector('input[name="team_number"]').value = team_number;
                        });
                    }
                }
            }
        </script>

        <div class="flex flex-col md:flex-row w-full md:w-3/4 lg:w-2/3 mx-8 my-4 py-2 dark:bg-slate-800 bg-slate-200 border-2 dark:border-slate-700 border-slate-300 rounded-lg mb-4 items-center justify-center"
             x-data="submit_manager()">
            <button class="ui_button mr-4" @click="submit_button()">
                <i class="ph-bold ph-check-circle"></i> Submit
            </button>

            <div x-show="missing_required_fields" x-transition>
                <p class="text-sans dark:text-red-700 text-red-500 font-bold text-center">Please fill out all of the required fields</p>
            </div>
        </div>

        <script>
            function submit_manager() {
                return {
                    missing_required_fields: false,

                    check_fields() {
                        let all_fields = document.querySelectorAll("input");
                        let missing_field_found = false;

                        for (const field of all_fields) {
                            if (field.getAttribute("scouting_required") == "true" && field.value == "") {
                                field.classList.add("field_missing");
                                missing_field_found = true;

                            } else {
                                field.classList.remove("field_missing");
                            }
                        }

                        this.missing_required_fields = missing_field_found;

                        if (missing_field_found) {
                            return false;
                        } else {
                            return true;
                        }
                    },

                    create_json_data() {
                        let data = []

                        let all_inputs = document.querySelectorAll("input");
                        let all_selects = document.querySelectorAll("select");
                        let other_fields = document.querySelectorAll(".field_other")

                        for (const field of all_inputs) {
                            let value;
                            if (field.value) {
                                if (field.getAttribute("scouting_type") == "large_integer" || field.getAttribute("scouting_type") === "text") {
                                    value = field.value;

                                } else if (field.getAttribute("scouting_type") == "boolean") {
                                    value = field.checked;
                                }

                                let data_field = {
                                    "name": field.getAttribute("x-ref"),
                                    "type": field.getAttribute("scouting_type"),
                                    "value": value,
                                    "stat_type": field.getAttribute("scouting_stat_type"),
                                    "game_piece": field.getAttribute("scouting_game_piece")
                                }

                                data.push(data_field);
                            }
                        }

                        for (const field of all_selects) {
                            let value;
                            if (field.value) {
                                if (field.getAttribute("scouting_type") == "choice" || field.getAttribute("scouting_type") == "multiple_choice") {
                                    value = field.value;

                                }

                                let data_field = {
                                    "name": field.getAttribute("x-ref"),
                                    "type": field.getAttribute("scouting_type"),
                                    "value": value,
                                    "stat_type": field.getAttribute("scouting_stat_type"),
                                    "game_piece": field.getAttribute("scouting_game_piece")
                                }

                                data.push(data_field);
                            }
                        }

                        for (const field of other_fields) {
                            let value;
                            if (field.value) {

                                if (field.getAttribute("scouting_type") == "integer") {
                                    value = field.value;
                                }

                                let data_field = {
                                    "name": field.getAttribute("x-ref"),
                                    "type": field.getAttribute("scouting_type"),
                                    "value": value,
                                    "stat_type": field.getAttribute("scouting_stat_type"),
                                    "game_piece": field.getAttribute("scouting_game_piece")
                                }

                                data.push(data_field);
                            }
                        }

                        return data;
                    },

                    async submit_button() {
                        try {
                            var demo_param = JSON.parse(new URL(window.location.href).searchParams.get("demo").toLowerCase())
                        } catch {
                            var demo_param = false;
                        }
                        
                        let match_number = document.querySelector("input[name='match_number']").value;
                        let type = document.querySelector("select[name='match_type']").value;

                        if (!demo_param) {
                            if (this.check_fields()) {
                                let report_uuid = crypto.randomUUID();

                                const openRequest = indexedDB.open("scouting_data", 4);

                                openRequest.onupgradeneeded = (event) => {
                                    const db = event.target.result;
                                    db.createObjectStore("offline_reports", { keyPath: "uuid" });
                                    db.createObjectStore("backups", { keyPath: "uuid" });
                                    db.createObjectStore("offline_pit_scouting", { keyPath: "uuid" });
                                };

                                openRequest.onsuccess = (event) => {
                                    const db = event.target.result;
                                    
                                    const transaction = db.transaction(["backups"], "readwrite");
                                    const objectStore = transaction.objectStore("backups");

                                    const report_backup = {
                                        uuid: report_uuid,
                                        data: this.create_json_data(),
                                        event_name: encodeURIComponent("{{ event_name }}"),
                                        event_code: "{{ event_code }}",
                                        custom: "{{ custom }}",
                                        year: "{{ year }}"
                                    }

                                    const request = objectStore.add(report_backup);

                                    request.onsuccess = (event) => {
                                        console.log("Data added to the database");
                                    };

                                    request.onerror = (event) => {
                                        console.log("Error adding data to the database: " + event.target.errorCode);
                                    };
                                };

                                openRequest.onerror = (event) => {
                                    console.log("Error opening database: " + event.target.errorCode);
                                };

                                if (globalThis.offline == false) {
                                    var response = await fetch("{{ SERVER_IP }}/submit", {
                                    method: "POST",
                                    headers: {
                                            "Content-Type": "application/json",
                                            "X-CSRFToken": "{{ csrf_token }}"
                                        },
                                    body: JSON.stringify({
                                            uuid: report_uuid,
                                            data: JSON.stringify(this.create_json_data()),
                                            event_name: encodeURIComponent("{{ event_name }}"),
                                            event_code: "{{ event_code }}",
                                            custom: "{{ custom }}",
                                            year: "{{ year }}"
                                        })
                                    });

                                    response.text().then(async (text) => {
                                        const url = new URL(window.location.href);

                                        url.searchParams.set("submitted", true);
                                        url.searchParams.delete("submitted_offline");
                                        url.searchParams.delete("submitted_demo");

                                        url.searchParams.set("match_number", parseInt(match_number, 10) + 1);
                                        url.searchParams.set("match_type", encodeURIComponent(type));

                                        window.location.href = url.toString();
                                    });
                                } else {
                                    console.log("You're offline, report will be saved offline.")

                                    const openRequest = indexedDB.open("scouting_data", 4);

                                    openRequest.onupgradeneeded = (event) => {
                                        const db = event.target.result;
                                        db.createObjectStore("offline_reports", { keyPath: "uuid" });
                                        db.createObjectStore("backups", { keyPath: "uuid" });
                                        db.createObjectStore("offline_pit_scouting", { keyPath: "uuid" });
                                    };

                                    openRequest.onsuccess = (event) => {
                                        const db = event.target.result;
                                        
                                        const transaction = db.transaction(["offline_reports"], "readwrite");
                                        const objectStore = transaction.objectStore("offline_reports");

                                        const offline_report = {
                                            uuid: report_uuid,
                                            data: this.create_json_data(),
                                            event_name: encodeURIComponent("{{ event_name }}"),
                                            event_code: "{{ event_code }}",
                                            custom: "{{ custom }}",
                                            year: "{{ year }}"
                                        }

                                        const request = objectStore.add(offline_report);

                                        request.onsuccess = (event) => {
                                            console.log("Data added to the database");

                                            const url = new URL(window.location.href);

                                            url.searchParams.set("submitted_offline", true);
                                            url.searchParams.delete("submitted");
                                            url.searchParams.delete("submitted_demo");

                                            url.searchParams.set("match_number", parseInt(match_number, 10) + 1);
                                            url.searchParams.set("match_type", encodeURIComponent(type));

                                            window.location.href = url.toString();
                                        };

                                        request.onerror = (event) => {
                                            console.log("Error adding data to the database: " + event.target.errorCode);
                                        };
                                    };

                                    openRequest.onerror = (event) => {
                                        console.log("Error opening database: " + event.target.errorCode);
                                    };
                                }
                            }
                        
                        } else {
                            console.log("Submitted in demo mode");

                            const url = new URL(window.location.href);

                            url.searchParams.set("submitted_demo", true);
                            url.searchParams.delete("submitted");
                            url.searchParams.delete("submitted_offline");

                            url.searchParams.set("match_number", parseInt(match_number, 10) + 1);
                            url.searchParams.set("match_type", encodeURIComponent(type));

                            window.location.href = url.toString();
                        }
                    },

                    async init() {
                        // Prevent devices on the page from sleeping
                        if ("wakeLock" in navigator) {
                            try {
                                this.wakeLock = await navigator.wakeLock.request("screen");
                            } catch (err) {
                                console.error(`${err.name}, ${err.message}`);
                            }
                        }
                    }
                }
            }
        </script>

    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
