{% extends "base.html" %}
{% load static %}
{% block head_title %}Open Scouting | Contribute{% endblock %}

{% block head_scripts %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="flex flex-col h-full w-screen items-center justify-center">

        <div class="flex flex-row w-full md:w-3/4 lg:w-2/3 mx-8 my-4 py-2 bg-slate-800 border-2 border-slate-700 rounded-lg mb-4 items-center justify-center">
            <img class="w-16 h-16 aspect-square m-2" src="{% static '/main/images/icon_rounded.png' %}">

            <div class="flex flex-col">
                <p class="text-white text-sans text-2xl">Contribute</p>
                <div class="flex flex-row">
                    <p class="text-white text-sans text-sm mx-1">Contributing data to event</p>
                    <p class="text-white text-sans font-bold text-sm mx-1">{{ event_name }}</p>
                    <p class="text-white text-sans text-sm mx-1">as</p>
                    <p class="text-white text-sans font-bold text-sm mx-1">{{ username }}</p>
                </div>
            </div>
        </div>

        <div class="lex flex-row w-full md:w-3/4 lg:w-2/3 mx-8 mb-4 py-2 bg-green-800 border-2 border-green-700 bg-opacity-80 rounded-lg border-opacity-80 items-center justify-center" x-data="submitted_check()">
            <div x-show="show" x-transition>
                <p class="text-white text-sans text-center"><i class="ph-bold ph-check-circle"></i> The data has been successfully submitted</p>
            </div>
        </div>

        <script>
            function submitted_check() {
                return {
                    show: false,

                    init() {
                        try {
                            this.show = JSON.parse(
                                new URL(window.location.href).searchParams.get("submitted").toLowerCase()
                            );
                        } catch {
                            this.show = false;
                        }
                    }
                }
            }

        </script>

        <div class="w-full md:w-3/4 lg:w-2/3 mx-8" x-data="field_manager()"></div>

        <script>
            function field_manager() {
                return {
                    field_data: '{{ season_fields|safe }}',

                    create_field(field) {
                        let label_text;
                        if (field.required == true) {
                            label_text = `${field.name}*`;
                        } else {
                            label_text = `${field.name}`;
                        }

                        let label = document.createElement('label');
                        label.innerText = label_text;
                        label.classList = "text-white mb-2 text-sm text-sans";

                        let field_container = document.createElement('div');
                        field_container.classList = "flex flex-col mb-4 py-2 my-2 border-l-2 pl-2 border-slate-700 justify-left";

                        let field_element;

                        if (field.type === 'integer') {
                            field_element = document.createElement('input');
                            field_element.type = 'number';
                            field_element.setAttribute('name', field.simple_name);
                            field_element.setAttribute('x-ref', field.simple_name);
                            field_element.classList = "text-white bg-slate-700 rounded px-2 py-1 mb-2";

                        } else if (field.type === 'boolean') {
                            field_element = document.createElement('input');
                            field_element.type = 'checkbox';
                            field_element.setAttribute('name', field.simple_name);
                            field_element.setAttribute('x-ref', field.simple_name);
                            field_element.classList = "text-white bg-slate-700 rounded px-2 py-1 mb-2";

                        } else if (field.type === 'choice') {
                            field_element = document.createElement('select');
                            field_element.setAttribute('name', field.simple_name);
                            field_element.setAttribute('x-ref', field.simple_name);
                            field_element.classList = "text-white bg-slate-700 rounded px-2 py-1 mb-2";

                            // Add choices as options
                            field.choices.forEach(choice => {
                                let option = document.createElement('option');
                                option.value = choice;
                                option.text = choice;
                                field_element.appendChild(option);
                            });

                        } else if (field.type === 'multiple_choice') {
                            field_element = document.createElement('select');
                            field_element.setAttribute('name', field.simple_name);
                            field_element.setAttribute('x-ref', field.simple_name);
                            field_element.setAttribute('multiple', 'multiple');
                            field_element.classList = "text-white bg-slate-700 rounded px-2 py-1 mb-2";

                            // Add multiple choices as options
                            field.choices.forEach(choice => {
                                let option = document.createElement('option');
                                option.value = choice;
                                option.text = choice;
                                field_element.appendChild(option);
                            });
                        }

                        if (field.required) {
                            field_element.setAttribute("scouting_required", true);
                        } else {
                            field_element.setAttribute("scouting_required", false);
                        }

                        field_element.setAttribute("scouting_type", field.type)

                        field_container.appendChild(label);
                        field_container.appendChild(field_element);

                        return field_container;
                    },

                    create_section(section) {
                        let section_text = document.createElement("p");
                        section_text.innerHTML = `<i class="ph-bold ph-arrow-bend-down-right"></i> ${section.section}`;
                        section_text.classList = "text-white text-md text-sans mb-2";

                        let section_element = document.createElement("div");
                        section_element.setAttribute("x-ref", section.simple_name ? section.simple_name : 'no_simple_name');
                        section_element.classList = "bg-slate-800 border-2 border-slate-700 rounded-lg mb-4 px-8 py-4 flex flex-col";

                        section_element.appendChild(section_text);

                        return section_element;
                    },

                    parse_json(data, section) {
                        data.forEach(parent => {
                            if (section) { // Create all sub fields inside
                                if (parent.fields) { // If the item is a section
                                    let section_element = this.create_section(parent);
                                    section.appendChild(section_element);
                                    this.parse_json(parent.fields, section_element);

                                } else { // If the item is a field
                                    section.appendChild(this.create_field(parent));
                                }

                            } else {
                                if (parent.fields) { // If the item is a section
                                    let section_element = this.create_section(parent);
                                    this.$root.appendChild(section_element);
                                    this.parse_json(parent.fields, section_element);

                                } else { // If the item is a field
                                    this.$root.appendChild(this.create_field(parent));
                                }
                            }
                            
                        });
                    },

                    init() {
                        this.parse_json(JSON.parse(this.field_data));
                    }
                }
            }
        </script>

    </div>

    <div x-data="submit_manager()">
        <button class="ui_button" @click="submit_button()">Submit</button>

        <div x-show="missing_required_fields" x-transition>
            <p class="text-sans text-red-700 font-bold">Please fill out all of the required fields</p>
            <p class="text-sans text-red-700 opacity-85">They have been marked with a dotted border</p>
        </div>
    </div>

    <script>
        function submit_manager() {
            return {
                missing_required_fields: false,

                check_fields() {
                    let all_fields = document.querySelectorAll("input");
                    let missing_field_found = false;

                    for (const field of all_fields) {
                        if (field.getAttribute("scouting_required") == "true" && field.value == "") {
                            field.classList.add("field_missing");
                            missing_field_found = true;

                        } else {
                            field.classList.remove("field_missing");
                        }
                    }

                    this.missing_required_fields = missing_field_found;

                    if (missing_field_found) {
                        return false;
                    } else {
                        return true;
                    }
                },

                create_json_data() {
                    let data = []

                    let all_fields = document.querySelectorAll("input");

                    for (const field of all_fields) {
                        let value;
                        if (field.value) {
                            if (field.getAttribute("scouting_type") == "integer" || field.getAttribute("scouting_type") == "choice" || field.getAttribute("scouting_type") == "multiple_choice") {
                                value = field.value;

                            } else if (field.getAttribute("scouting_type") == "boolean") {
                                value = field.checked;
                            }

                            let data_field = {
                                "name": field.getAttribute("x-ref"),
                                "type": field.getAttribute("scouting_type"),
                                "value": value
                            }

                            data.push(data_field);
                        }
                    }

                    return data;
                },

                async submit_button() {
                    if (this.check_fields()) {
                        var response = await fetch("{{ SERVER_IP }}/submit", {
                            method: "POST",
                            headers: {
                                    "data": JSON.stringify(this.create_json_data()),
                                    "event-name": "{{ event_name }}",
                                    "event-code": "{{ event_code }}"
                                }
                            });

                            response.text().then(async (text) => {
                                const url = new URL(window.location.href);

                                url.searchParams.set("submitted", true);

                                window.location.href = url.toString();
                            });
                    }
                },

                init() {
                    this.check_fields();
                }
            }
        }
    </script>
{% endblock %}

{% block scripts %}{% endblock %}
