{% extends "base.html" %}
{% load static %}
{% block head_title %}Open Scouting | Contribute{% endblock %}

{% block head_scripts %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <script>
        const SERVER_IP = `{{ SERVER_IP }}`;
        const CSRF_TOKEN = `{{ csrf_token }}`;
        const TBA_API_KEY = `{{ TBA_API_KEY }}`;
        const DEMO = `{{ demo }}`;
        const SEASON_FIELDS = `{{ season_fields|safe }}`;

        const EVENT_NAME = `{{ event_name }}`;
        const EVENT_CODE = `{{ event_code }}`;
        const CUSTOM = `{{ custom }}`;
        const YEAR = `{{ year }}`;
    </script>

    <div class="flex flex-col h-full w-screen items-center justify-center">

        <script src="{% static '/main/scripts/contribute/header.js' %}"></script>

        <div class="flex flex-row w-full md:w-3/4 lg:w-2/3 mx-8 my-4 py-2 dark:bg-slate-800 border-2 dark:border-slate-700 bg-slate-200 border-slate-300 rounded-lg mb-4 items-center justify-center"
             x-data="header">
            <img class="w-16 h-16 aspect-square m-2 hover:scale-110 transition-all ease-in-out active:scale-95"
                 src="{% static '/main/images/icon_rounded.png' %}"
                 @click="window.location.href = '{{ SERVER_IP }}'">

            <div class="flex flex-col">
                <div class="flex flex-row items-center">

                    <button class="ui_button_icon mr-2"
                            @click="page_dropdown = !page_dropdown"
                            x-ref="page_button">
                        <i class="ph-bold ph-dots-three"></i>
                    </button>
                    <div class="dark:bg-slate-700/60 bg-slate-200/60 border-2 dark:border-slate-600 border-slate-300 rounded-xl backdrop-blur-md flex flex-col p-4 z-10"
                         x-show="page_dropdown"
                         x-anchor.offset.10="$refs.page_button"
                         x-transition>
                        <button class="ui_button_small my-1! py-1! px-2! w-full! text-left!"
                                @click="go_to_contribute">
                            <i class="ph-bold ph-pencil"></i> Add Scouting Reports
                        </button>
                        <button class="ui_button_small my-1! py-1! px-2! w-full! text-left!"
                                @click="go_to_data">
                            <i class="ph-bold ph-database"></i> View Scouting Data
                        </button>
                        <button class="ui_button_small my-1! py-1! px-2! w-full! text-left!"
                                @click="go_to_pits">
                            <i class="ph-bold ph-garage"></i> Pit Scouting
                        </button>
                    </div>
                    <p class="dark:text-white text-black text-sans text-2xl">Contribute</p>
                </div>

                <div class="flex flex-row" x-show="!demo">
                    <p class="dark:text-white text-black text-sans text-sm mx-1">Contributing data to event</p>
                    <p class="dark:text-white text-black text-sans font-bold text-sm mx-1">{{ event_name }}</p>
                    <p class="dark:text-white text-black text-sans text-sm mx-1">as</p>
                    <p class="dark:text-white text-black text-sans font-bold text-sm mx-1">{{ username }}</p>
                </div>

                <div class="flex flex-col p-2 ml-2 mt-2 rounded-lg border-solid border-2 dark:border-slate-600 dark:bg-purple-900/50 border-slate-300 bg-purple-200/50"
                     x-show="demo">
                    <p class="dark:text-white text-black font-sans text-md ">
                        <i class="ph-bold ph-test-tube"></i> Open Scouting is in demo mode
                    </p>
                    <p class="dark:text-white text-black font-sans text-sm">Any contributed data will not be saved to the server</p>
                </div>
            </div>
        </div>

        <div class="lex flex-row w-full md:w-3/4 lg:w-2/3 mx-8 mb-4 py-2 dark:bg-green-800/70 bg-green-400/70 border-2 dark:border-green-700 border-green-500 bg-opacity-80 rounded-lg border-opacity-80 items-center justify-center"
             x-data="submitted_check()"
             x-show="show"
             x-transition>
            <div>
                <p class="dark:text-white text-black text-sans text-center">
                    <i class="ph-bold ph-check-circle"></i> The data has been successfully submitted
                </p>
            </div>
        </div>

        <script>
            function submitted_check() {
                return {
                    show: false,

                    init() {
                        try {
                            this.show = JSON.parse(
                                new URL(window.location.href).searchParams.get("submitted").toLowerCase()
                            );
                        } catch {
                            this.show = false;
                        }
                    }
                }
            }

        </script>

        <div class="lex flex-row w-full md:w-3/4 lg:w-2/3 mx-8 mb-4 py-2 dark:bg-orange-800/70 bg-orange-400/70 border-2 dark:border-orange-700 border-orange-500 bg-opacity-80 rounded-lg border-opacity-80 items-center justify-center"
             x-data="submitted_offline_check()"
             x-show="show"
             x-transition>
            <div>
                <p class="dark:text-white text-black text-sans text-center">
                    <i class="ph-bold ph-floppy-disk"></i> The data has been successfully stored locally. It will be uploaded when you go online.
                </p>
            </div>
        </div>

        <script>
            function submitted_offline_check() {
                return {
                    show: false,

                    init() {
                        try {
                            this.show = JSON.parse(
                                new URL(window.location.href).searchParams.get("submitted_offline").toLowerCase()
                            );
                        } catch {
                            this.show = false;
                        }
                    }
                }
            }

        </script>

        <div class="lex flex-row w-full md:w-3/4 lg:w-2/3 mx-8 mb-4 py-2 dark:bg-purple-900/50 bg-purple-200/50 dark:border-purple-900/80 border-2 border-purple-500 bg-opacity-80 rounded-lg border-opacity-80 items-center justify-center"
             x-data="demo_check()"
             x-show="show"
             x-transition>
            <div>
                <p class="dark:text-white text-black text-sans text-center">
                    <i class="ph-bold ph-test-tube"></i> The data isn't submitted to the server while you're in demo mode
                </p>
            </div>
        </div>

        <script>
        function demo_check() {
        return {
            show: false,

            init() {
                try {
                    this.show = JSON.parse(
                        new URL(window.location.href).searchParams.get("submitted_demo").toLowerCase()
                    );
                } catch {
                    this.show = false;
                }
            }
        }
        }

        </script>

        <script src="{% static '/main/scripts/contribute/team_information.js' %}"></script>

        <div x-data="team_information"
             x-show="show"
             class="flex flex-col w-full md:w-3/4 lg:w-2/3 mx-8 py-2 dark:bg-slate-800 border-2 dark:border-slate-700 bg-slate-200 border-slate-300 rounded-lg mb-4 px-6 gap-2"
             x-transition>
            <div class="flex flex-row items-center gap-2">
                <i class="ph-bold ph-selection dark:text-white text-black"></i>
                <p class="dark:text-white text-black text-sans text-lg">Select position to watch</p>
                <span class="dark:bg-slate-700 bg-slate-300 rounded-full px-2 py-1 text-xs dark:text-white text-black tippy-target"
                      data-tippy-content="Testing is needed to determine if this feature works at all events. Please open an issue if any issues are encountered">Experimental</span>
            </div>
            <p class="dark:text-white text-black text-sans text-sm opacity-80">
                While scouting, watch teams during a match based on their position in the driver stations or on the screen. For example, if you select "Red 1", you should watch the first team on the red alliance.
            </p>
            <p class="dark:text-white text-black text-sans text-sm opacity-80">In some cases data may be inaccurate or unavailable. Set to "None" to disable</p>

            <div class="flex flex-row items-center gap-2">
                <select class="ui_input w-32!"
                        x-ref="team"
                        @change="changeColor($event); process_data()">
                    <option value="None">None</option>
                    <option value="Red 1" class="text-red-500!">Red 1</option>
                    <option value="Red 2" class="text-red-500!">Red 2</option>
                    <option value="Red 3" class="text-red-500!">Red 3</option>
                    <option value="Blue 1" class="text-blue-500!">Blue 1</option>
                    <option value="Blue 2" class="text-blue-500!">Blue 2</option>
                    <option value="Blue 3" class="text-blue-500!">Blue 3</option>
                </select>

                <script>
                function changeColor(value) {
                    const selectedOption = event.target.options[event.target.selectedIndex];
                    event.target.className = `ui_input w-32! ${selectedOption.className}`;

                    const urlParams = new URLSearchParams(window.location.search);
                    urlParams.set('position', encodeURIComponent(event.target.value));
                    window.history.replaceState({}, '', `${window.location.pathname}?${urlParams}`);
                }
                </script>

                <p class="dark:text-white text-black font-bold text-sans text-md"
                   x-show="team_to_watch"
                   x-transition
                   x-text="'Look for robot ' + team_to_watch"></p>
            </div>

        </div>

        <script src="{% static '/main/scripts/contribute/field_manager.js' %}"></script>

        <div class="w-full md:w-3/4 lg:w-2/3 mx-8" x-data="field_manager"></div>

        <script src="{% static '/main/scripts/contribute/submit_manager.js' %}"></script>

        <div class="flex flex-col md:flex-row w-full md:w-3/4 lg:w-2/3 mx-8 my-4 py-2 dark:bg-slate-800 bg-slate-200 border-2 dark:border-slate-700 border-slate-300 rounded-lg mb-4 items-center justify-center"
             x-data="submit_manager()">
            <button class="ui_button mr-4" @click="submit_button()">
                <i class="ph-bold ph-check-circle"></i> Submit
            </button>

            <div x-show="missing_required_fields" x-transition>
                <p class="text-sans dark:text-red-700 text-red-500 font-bold text-center">Please fill out all of the required fields</p>
            </div>
        </div>
    </div>
{% endblock body %}

{% block scripts %}
{% endblock scripts %}
