{% extends "base.html" %}
{% load static %}
{% block head_title %}Open Scouting{% endblock %}

{% block head_scripts %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="flex flex-col h-full min-h-screen w-screen overflow-hidden items-center justify-center">

    <div class="flex flex-row w-full md:w-3/4 lg:w-2/3 mx-8 my-4 py-2 dark:bg-slate-800 border-2 dark:border-slate-700 bg-slate-200 border-slate-300 rounded-lg mb-4 items-center justify-center" x-data="data_header()">
        <img class="w-16 h-16 aspect-square m-2 hover:scale-110 transition-all ease-in-out active:scale-95" src="{% static '/main/images/icon_rounded.png' %}" @click="window.location.href = '{{ SERVER_IP }}'">

        <div class="flex flex-col">
            <div class="flex flex-row items-center">
                <button class="ui_button_icon mr-2" @click="go_to_contribute()"><i class="ph-bold ph-pencil-simple"></i></button>
                <p class="dark:text-white text-black text-sans text-2xl">Event Data</p>
            </div>

            <div class="flex flex-row">
                <p class="dark:text-white text-black text-sans text-sm mx-1">Viewing data for event</p>
                <p class="dark:text-white text-black text-sans font-bold text-sm mx-1">{{ event_name }}</p>
                <p class="dark:text-white text-black text-sans text-sm mx-1">as</p>
                <p class="dark:text-white text-black text-sans font-bold text-sm mx-1">{{ username }}</p>
            </div>
        </div>

    </div>

    <script>
        function data_header() {
            return {
                go_to_contribute() {
                    let url = new URL(window.location.href);
                    url.pathname = url.pathname.replace("/data", "/contribute");
                    window.location.href = url.toString();
                },

                init() {}
            }
        }
    </script>
    
    <div class="w-full overflow-x-auto mx-16" x-data="dataTable()" x-init="init()" x-transition>
        <div x-show="!offline && !no_data" class="dark:border-slate-600 border-slate-300 border-1 dark:bg-slate-800 bg-slate-200 width-screen">
            <table class="min-w-full border-2 dark:border-slate-600 border-slate-300 table-auto">
                <thead>
                    <tr class="px-2">
                        <template x-for="header in headers" :key="header">
                            <th class="dark:text-white text-black font-bold font-sans px-4 py-2 text-left dark:hover:bg-slate-700 dark:bg-slate-800 hover:bg-slate-300 bg-slate-200 transition-colors capitalize border-l-1 border-r-1 dark:border-slate-700 border-slate-300 whitespace-nowrap" x-text="generate_header_text(header)"></th>
                        </template>
                    </tr>
                </thead>
                <tbody>
                    <template x-for="entry in entries">
                        <tr class="px-2 dark:hover:bg-slate-700 dark:bg-slate-800 hover:bg-slate-300 bg-slate-200 transition-colors rounded-md dark:border-slate-600 border-slate-300 border-2">
                            <template x-for="header in headers">
                                <td class="px-4 py-2 dark:text-white text-black font-sans border-l-1 border-r-1 dark:border-slate-700 border-slate-300" x-text="entry.data.find(field => field.name === header)?.value || ''"></td>
                            </template>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>

        <div class="flex flex-row w-screen items-center justify-center" x-show="offline" x-transition>
            <p class="dark:text-white text-black text-sans text-lg mx-1 text-center"><i class="ph ph-wifi-slash"></i> You can't view data when you're offline.</p>
        </div>
    
        <div class="flex flex-row w-screen items-center justify-center" x-show="no_data" x-transition>
            <p class="dark:text-white text-black text-sans text-lg mx-1 text-center"><i class="ph ph-info"></i> No data found for this event.</p>
        </div>
    </div>
    
    <script>
        function dataTable() {
            return {
                headers: [],
                entries: {},
                SERVER_IP: "{{ SERVER_IP }}",
                no_data: false,
                offline: false,

                generate_header_text(header_text) {
                    return header_text.replaceAll("_", " ");
                },

                init() {
                    console.log("table started")
                    
                    fetch(
                        `${this.SERVER_IP}/get_data`, {
                        method: 'POST',
                        headers: {
                            "event-name": "{{ event_name }}",
                            "event-code": "{{ event_code }}",
                            "custom": "{{ custom }}",
                            "year": "{{ year }}"
                        }
                    })
                    .then(response => response.json().then(json => {
                        this.headers = json.data_headers;
                        this.entries = json.data;

                        if (this.headers.length == 0) {
                            if (!this.offline) {
                                this.no_data = true;
                            }
                        }
                    }))
                    .then(data => console.log(data))
                    .catch(error => console.error(error));

                    if (navigator.onLine) {
                        this.offline = false;
                    } else {
                        this.offline = true;
                    }
                }
            }
        }
    </script>
</div>
{% endblock %}

{% block scripts %}{% endblock %}
