{% extends "base.html" %}
{% load static %}
{% block head_title %}
    Open Scouting
{% endblock head_title %}

{% block head_scripts %}
    <link href="https://unpkg.com/tabulator-tables@6.3.0/dist/css/tabulator.min.css"
          rel="stylesheet">
    <script type="text/javascript"
            src="https://unpkg.com/tabulator-tables@6.3.0/dist/js/tabulator.min.js"></script>
{% endblock head_scripts %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}
    <script>
        const SERVER_IP = `{{ SERVER_IP }}`;
        const CSRF_TOKEN = `{{ csrf_token }}`;
        const TBA_API_KEY = `{{ TBA_API_KEY }}`;
        const DEMO = `{{ demo }}`;

        const EVENT_NAME = `{{ event_name }}`;
        const EVENT_CODE = `{{ event_code }}`;
        const CUSTOM = `{{ custom }}`;
        const YEAR = `{{ year }}`;
    </script>

    <div class="flex flex-col h-full min-h-screen w-screen overflow-hidden items-center justify-center">

        <script src="{% static '/main/scripts/data/header.js' %}"></script>

        <div class="flex flex-row w-full md:w-3/4 lg:w-2/3 mx-8 my-4 py-2 dark:bg-slate-800 border-2 dark:border-slate-700 bg-slate-200 border-slate-300 rounded-lg mb-4 items-center justify-center"
             x-data="header">
            <img class="w-16 h-16 aspect-square m-2 hover:scale-110 transition-all ease-in-out active:scale-95"
                 src="{% static '/main/images/icon_rounded.png' %}"
                 @click="window.location.href = '{{ SERVER_IP }}'">

            <div class="flex flex-col">
                <div class="flex flex-row items-center">
                    <button class="ui_button_icon mr-2"
                            @click="page_dropdown = !page_dropdown"
                            x-ref="page_button">
                        <i class="ph-bold ph-dots-three"></i>
                    </button>
                    <div class="dark:bg-slate-700/60 bg-slate-200/60 border-2 dark:border-slate-600 border-slate-300 rounded-xl backdrop-blur-md flex flex-col p-4 z-10"
                         x-show="page_dropdown"
                         x-anchor.offset.10="$refs.page_button"
                         x-transition>
                        <button class="ui_button_small my-1! py-1! px-2! w-full! text-left!"
                                @click="go_to_contribute">
                            <i class="ph-bold ph-pencil"></i> Add Scouting Reports
                        </button>
                        <button class="ui_button_small my-1! py-1! px-2! w-full! text-left!"
                                @click="go_to_data">
                            <i class="ph-bold ph-database"></i> View Scouting Data
                        </button>
                        <button class="ui_button_small my-1! py-1! px-2! w-full! text-left!"
                                @click="go_to_pits">
                            <i class="ph-bold ph-garage"></i> Pit Scouting
                        </button>
                    </div>
                    <p class="dark:text-white text-black text-sans text-2xl">Event Data</p>
                </div>

                <div class="flex flex-row" x-show="!demo">
                    <p class="dark:text-white text-black text-sans text-sm mx-1">Viewing data for event</p>
                    <p class="dark:text-white text-black text-sans font-bold text-sm mx-1">{{ event_name }}</p>
                    <p class="dark:text-white text-black text-sans text-sm mx-1">as</p>
                    <p class="dark:text-white text-black text-sans font-bold text-sm mx-1">{{ username }}</p>
                </div>

                <div class="flex flex-col p-2 ml-2 mt-2 rounded-lg border-solid border-2 dark:border-slate-600 dark:bg-purple-900/50 border-slate-300 bg-purple-200/50"
                     x-show="demo">
                    <p class="dark:text-white text-black font-sans text-md">
                        <i class="ph-bold ph-test-tube"></i> Open Scouting is in demo mode
                    </p>
                    <p class="dark:text-white text-black font-sans text-sm">Example contributed data is being shown, it is not data from any real matches or events</p>
                </div>
            </div>

        </div>

        <script src="{% static '/main/scripts/data/data_table.js' %}"></script>

        <div class="w-full overflow-x-auto mx-16"
             x-data="data_table"
             x-init="init()"
             x-transition>
            <div x-show="!offline && !no_data"
                 class="width-screen mx-2 h-50 h-full max-h-[80vh] overflow-y-auto"
                 x-ref="table"></div>

            <div class="flex flex-row w-screen items-center justify-center"
                 x-show="!offline && !no_data"
                 x-transition>
                <p class="dark:text-white text-black text-sans text-md mx-1 mt-2 text-center">
                    <i class="ph ph-mouse-scroll"></i> You may need to scroll left and right to view the entire table
                </p>
            </div>

            <div class="flex flex-row w-screen items-center justify-center"
                 x-show="offline"
                 x-transition>
                <p class="dark:text-white text-black text-sans text-lg mx-1 text-center">
                    <i class="ph ph-wifi-slash"></i> You can't view data when you're offline.
                </p>
            </div>

            <div class="flex flex-row w-screen items-center justify-center"
                 x-show="no_data"
                 x-transition>
                <p class="dark:text-white text-black text-sans text-lg mx-1 text-center">
                    <i class="ph ph-info"></i> No data found for this event.
                </p>
            </div>

        </div>
    </div>
{% endblock body %}

{% block scripts %}
{% endblock scripts %}
