{% load static %}

<script src="{% static '/main/scripts/dialog/dialog.js' %}"></script>

<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/50"
     x-show="show"
     x-transition:enter="transition-opacity ease-linear duration-100"
     x-transition:leave="transition-opacity ease-linear duration-100"
     x-transition:enter-start="opacity-0"
     x-transition:enter-end="opacity-100"
     x-transition:leave-start="opacity-100"
     x-transition:leave-end="opacity-0"
     x-data="dialog"
     x-init="init()">
    <div class="bg-slate-200 dark:bg-slate-800 border-slate-300 dark:border-slate-600 border-2 rounded-2xl shadow-lg p-4 pb-2 w-auto md:w-1/2"
         x-show="show"
         x-transition>
        <p class="dark:text-white text-black text-sans text-lg font-bold"
           x-text="title"></p>
        <p class="dark:text-white text-black text-sans text-sm" x-text="body"></p>
        <div class="flex flex-row gap-2">
            <template x-for="button in buttons">
                <button class="ui_button"
                        @click="button.type == 'confirm' ? confirm() : button.type == 'close' ? close() : cancel()">
                    <i :class="button.icon"></i>
                    <span x-text="button.text"></span>
                </button>
            </template>
        </div>
    </div>
</div>
