{% extends "base.html" %}
{% load static %}
{% block head_title %}3484 Scouting{% endblock %}

{% block head_scripts %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="flex h-screen justify-center items-center flex-col w-screen">
        <img class="w-full md:w-1/2 xl:w-2/6 px-10"
             src="{% static '/main/images/logo_light.png' %}">
        <p class="font-sans dark:text-white mt-2 text-black text-center mb-8">An open source application for easier scouting at First Robotics competitions</p>

        <button class="ui_button">
            Sign In
        </button>
        <button class="ui_button">
            Continue without account
        </button>
    </div>
{% endblock %}

{% block scripts %}{% endblock %}
