{% extends "base.html" %}
{% load static %}
{% block head_title %}Open Scouting{% endblock %}

{% block head_scripts %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="flex h-screen justify-center items-center flex-col w-screen">
        <div x-data="header()">
            <div class="flex flex-col justify-center items-center" x-show="basic" x-transition>
                <img class="w-full md:w-1/2 xl:w-2/6 px-10 hidden dark:block"
                    src="{% static '/main/images/logo_light.png' %}">
                <img class="w-full md:w-1/2 xl:w-2/6 px-10 dark:hidden block"
                    src="{% static '/main/images/logo_dark.png' %}">
                <p class="font-sans dark:text-white mt-2 text-black text-center mb-8">An open source application for easier scouting at First Robotics competitions</p>
            </div>
            <div class="flex flex-row dark:bg-slate-800 dark:border-slate-700 bg-slate-200 border-slate-300 border-2 rounded-lg w-full px-6 justify-center items-center py-4 mt-6" x-show="!basic" x-transition>
                <img class="w-16 h-16 aspect-square m-2 hover:scale-110 transition-all ease-in-out active:scale-95" src="{% static '/main/images/icon_rounded.png' %}" @click="start_over()">

                <button class="ui_button_icon" @click="start_over()"><i class="ph-bold ph-arrow-clockwise"></i></button>

                <div class="flex flex-col">
                    <div class="flex flex-row items-center">
                        <i class="ph-bold ph-user-circle-dashed dark:text-white text-black font-sans px-1"></i>
                        <p class=" dark:text-white text-black font-sans text-md font-bold px-1" x-text="username"></p>
                        <p class=" dark:text-white text-black font-mono text-sm px-1 opacity-70" x-text="team_number"></p>
                    </div>

                    <div class="flex flex-row items-center">
                        <i class="ph-bold ph-calendar-blank dark:text-white text-black font-sans px-1" x-show="!custom_event"></i>
                        <i class="ph-bold ph-calendar-star dark:text-white text-black font-sans px-1" x-show="custom_event"></i>
                        <p class=" dark:text-white text-black font-sans text-md font-bold px-1" x-text="event_name"></p>
                        <p class=" dark:text-white text-black font-mono text-sm px-1 opacity-70 max-w-14 overflow-x-hidden" x-text="event_code"></p>
                    </div>
                </div>
            </div>
            
        </div>
        
        <script>
            function header() {
                return {
                    basic: true,
                    username: "",
                    team_number: "",
                    event_name: "",
                    event_code: "",
                    custom_event: false,

                    start_over() {
                        window.dispatchEvent(new CustomEvent('start_over'));
                        this.basic = true;
                        this.username = "";
                        this.team_number = "";
                        this.event_name = "";
                        this.event_code = "";
                    },

                    init() {
                        window.addEventListener('header_username', (event) => {
                            event.stopImmediatePropagation();
                            const { username, team_number } = event.detail;
                            this.username = username;
                            this.team_number = team_number;

                            this.basic = false;
                        });

                        window.addEventListener('header_event', (event) => {
                            event.stopImmediatePropagation();
                            const { event_name, event_code } = event.detail;

                            this.event_name = event_name;
                            this.event_code = event_code;
                        });

                        window.addEventListener('header_custom_event', (event) => {
                            event.stopImmediatePropagation();
                            const { event_name, event_code } = event.detail;

                            this.event_name = event_name;
                            this.event_code = event_code;
                            this.custom_event = true;
                        });

                        window.addEventListener('get_header_data', (event) => {
                            event.stopImmediatePropagation();
                            const { load_page } = event.detail;

                            let username = this.username;
                            let event_name = this.event_name;
                            let event_code = this.event_code;
                            let load_page_var = load_page;
                            let custom = this.custom_event;

                            window.dispatchEvent(new CustomEvent('header_data', {
                                detail: { username, event_name, event_code, load_page, custom }
                            }));
                        });
                    }
                }
            }
        </script>

        <div x-data="index()">
            <div class="flex flex-col" x-data="authentication_box()" x-show="page == 1" x-transition>
                <button class="ui_button" disabled>
                    <i class="ph-bold ph-user-circle"></i> Sign In
                </button>
                <button class="ui_button" @click="open = !open">
                    <i class="ph-bold ph-user-circle-dashed"></i> Continue without account
                </button>
    
                <div class="flex flex-col justify-center items-center" x-show="open" x-collapse>
                    <input class="ui_input" type="text" placeholder="Temporary user name" @input="check()" x-ref="username">
                    <input class="ui_input" type="text" placeholder="Your team number" @input="check()" x-ref="team_number">
                    <button class="ui_button" x-ref="next" @click="submit()" disabled><i class="ph-bold ph-arrow-circle-right"></i> Next</button>
                </div>
            </div>

            <script>
                function authentication_box() {
                    return {
                        open: false,

                        check() {
                            if (this.$refs.username.value && this.$refs.team_number.value) {
                                this.$refs.next.disabled = false;
                            } else {
                                this.$refs.next.disabled = true;
                            }
                        },

                        submit() {
                            username = this.$refs.username.value
                            team_number = this.$refs.team_number.value

                            window.dispatchEvent(new CustomEvent('header_username', {
                                detail: { username, team_number }
                            }));
                            this.page = 2;
                        },

                        init() {}
                    };
                }
            </script>

            <div class="flex flex-col justify-center items-center" x-data="events()" x-show="page == 2" x-transition>
                <p class="text-center dark:text-white text-black font-sans text-2xl"><i class="ph-bold ph-calendar-blank"></i> Select event</p>
                <div class="flex flex-row mt-2">
                    <input class="bg-slate-700 border-2 border-slate-700 dark:text-white text-black rounded-lg" type="checkbox" x-ref="show_past_events" @input="update_filters()">
                    <p class="dark:text-white text-black ml-2">Show past events</p>
                    <!-- TODO: Be able to see data from previous years -->
                </div>

                <input class="ui_input" placeholder="Search for an event..." x-ref="event_search" @input="update_filters()">

                <div>
                    <button class="dark:bg-slate-700 bg-slate-200 border-2 dark:border-slate-600 border-slate-300 text-black dark:text-white rounded-t-md px-4 py-2 ml-4 disabled:opacity-50 hover:enabled:px-5 active:enabled:px-3 transition-all whitespace-nowrap" :disabled="!show_custom_events" @click="show_custom_events = false">
                        <i class="ph-bold ph-check-circle"></i>
                        <span class="dark:text-white text-black">TBA Events</span>
                        <span class="dark:text-white text-black bg-slate-200 dark:bg-slate-600 py-1 px-3 rounded-full border-slate-300 dark:border-slate-700 max-w-4 aspect-square my-2 text-sm border-2" x-text="filtered_events.length"></span>
                    </button>

                    <button class="dark:bg-slate-700 bg-slate-200 border-2 dark:border-slate-600 border-slate-300 text-black dark:text-white rounded-t-md px-4 py-2 disabled:opacity-50 hover:enabled:px-5 active:enabled:px-3 transition-all whitespace-nowrap" :disabled="show_custom_events" @click="show_custom_events = true">
                        <i class="ph-bold ph-star"></i>
                        <span class="dark:text-white text-black">Custom Events</span>
                        <span class="dark:text-white text-black bg-slate-200 dark:bg-slate-600 py-1 px-3 rounded-full border-slate-300 dark:border-slate-700 max-w-4 aspect-square my-2 text-sm border-2" x-text="custom_filtered_events.length"></span>
                    </button>

                    <div class="h-[50vh] overflow-y-auto dark:bg-slate-700 bg-slate-200 dark:border-slate-600 border-slate-300 border-1 mx-2 p-2 rounded-md">
                        <div x-show="!show_custom_events">
                            <template x-for="(event, index) in filtered_events" :key="index">
                                <div class="p-2 dark:bg-slate-800 border-2 dark:border-slate-700 bg-slate-300 border-slate-400 m-1 rounded-lg flex flex-row justify-between">
                                    <div class="flex flex-col">
                                        <p class="dark:text-white text-black font-sans" x-text="event.name"></p>
                                        <div class="flex flex-row">
                                            <p class="dark:text-white text-black font-sans font-bold text-sm" x-text="event.event_type_string"></p><p class="dark:text-white text-black font-sans text-sm mx-1">-</p>
                                            <p class="dark:text-white text-black font-sans text-sm" x-text="event.city"></p><p class="dark:text-white text-black font-sans text-sm mr-1">,</p>
                                            <p class="dark:text-white text-black font-sans text-sm" x-text="event.country"></p>
                                        </div>
                                        <div class="flex flex-row">
                                            <p class="dark:text-white text-black font-sans font-light" x-text="event.start_date"></p>
                                            <p class="dark:text-white text-black font-sans font-light mx-1">-</p>
                                            <p class="dark:text-white text-black font-sans font-light" x-text="event.end_date"></p>
                                        </div>
                                    </div>
                                    <div class="flex flex-col">
                                        <button class="ui_button_icon" @click="select_event(event.name, event.event_code)"><i class="ph-bold ph-check-circle"></i></button>
                                    </div>
                                </div>
                            </template>
        
                            <p class="dark:text-white text-black text-center text-lg" x-show="no_events" x-transition><i class="ph-bold ph-smiley-sad"></i> No events found</p>
                            <button class="ui_button w-full" @click="create_custom_event()"><i class="ph-bold ph-plus"></i> Create a custom Event</button>
                        </div>

                        <div x-show="show_custom_events">
                            <template x-for="(event, index) in custom_filtered_events" :key="index">
                                <div class="p-2 dark:bg-slate-800 border-2 dark:border-slate-700 bg-slate-300 border-slate-400 m-1 rounded-lg flex flex-row justify-between">
                                    <div class="flex flex-col">
                                        <p class="dark:text-white text-black font-sans" x-text="event.name"></p>
                                        <div class="flex flex-row">
                                            <!-- <p class="dark:text-white text-black font-sans font-bold text-sm" x-text="event.event_type_string"></p><p class="dark:text-white text-black font-sans text-sm mx-1">-</p> -->
                                            <p class="dark:text-white text-black font-sans font-bold text-sm" x-text="event.type || 'Custom Event'"></p><p class="dark:text-white text-black font-sans text-sm mx-1">-</p>
                                            <p class="dark:text-white text-black font-sans text-sm" x-text="event.location"></p>
                                        </div>
                                        <div class="flex flex-row">
                                            <p class="dark:text-white text-black font-sans font-light" x-text="event.start_date"></p>
                                            <p class="dark:text-white text-black font-sans font-light mx-1">-</p>
                                            <p class="dark:text-white text-black font-sans font-light" x-text="event.end_date"></p>
                                        </div>
                                    </div>
                                    <div class="flex flex-col">
                                        <button class="ui_button_icon" @click="select_custom_event(event.name, event.event_code)"><i class="ph-bold ph-check-circle"></i></button>
                                    </div>
                                </div>
                            </template>
        
                            <p class="dark:text-white text-black text-center text-lg" x-show="no_custom_events" x-transition><i class="ph-bold ph-smiley-sad"></i> No events found</p>
                            <button class="ui_button w-full" @click="create_custom_event()"><i class="ph-bold ph-plus"></i> Create a custom Event</button>
                        </div>
                    </div>
                </div>
                
            </div>

            <script>
                function events() {
                    return {
                        events: [],
                        custom_events: [],
                        filtered_events: [],
                        custom_filtered_events: [],
                        no_events: true,
                        no_custom_events: true,
                        show_custom_events: false,

                        async get_events() {
                            var response = await fetch("https://www.thebluealliance.com/api/v3/status", {
                            method: "GET",
                            headers: {
                                "X-TBA-Auth-Key": "{{ TBA_API_KEY }}"
                                }
                            });

                            response.json().then(async (text) => {
                                var response = await fetch(`https://www.thebluealliance.com/api/v3/events/${text.current_season}`, {
                                method: "GET",
                                headers: {
                                    "X-TBA-Auth-Key": "{{ TBA_API_KEY }}"
                                    }
                                });
                        
                                let data = await response.json();
                                this.events = data;
                                this.update_filters();

                                var response = await fetch("{{ SERVER_IP }}/get_custom_events", {
                                    method: "POST",
                                    headers: {}
                                });
                        
                                let custom_data = JSON.parse(await response.json());
                                this.custom_events = custom_data;

                                this.update_filters();
                            });
                        },

                        update_filters() {
                            if (this.$refs.show_past_events.checked == false) {
                                let today = new Date();

                                this.filtered_events = this.events.filter(event => {
                                    let eventDate = new Date(event.end_date);
                                    return eventDate >= today;
                                });

                                this.custom_filtered_events = this.custom_events.filter(event => {
                                    let eventDate = new Date(event.end_date);
                                    return eventDate >= today;
                                });

                            } else {
                                this.filtered_events = this.events;
                                this.custom_filtered_events = this.custom_events;
                            }

                            let search = this.$refs.event_search.value.toLowerCase();

                            if (search != "") {
                                this.filtered_events = this.filtered_events.filter(event => {
                                    let name = event.name ? event.name.toLowerCase() : '';
                                    let city = event.city ? event.city.toLowerCase() : '';
                                    let country = event.country ? event.country.toLowerCase() : '';
                                    let location_name = event.location_name ? event.location_name.toLowerCase() : '';

                                    return (
                                        name.includes(search) ||
                                        city.includes(search) ||
                                        country.includes(search) ||
                                        location_name.includes(search)
                                    );
                                });

                                this.custom_filtered_events = this.custom_filtered_events.filter(event => {
                                    let name = event.name ? event.name.toLowerCase() : '';
                                    let location = event.location ? event.location.toLowerCase() : '';

                                    return (
                                        name.includes(search) ||
                                        location.includes(search)
                                    );
                                });
                            }

                            if (this.filtered_events.length == 0) {
                                this.no_events = true;
                            } else {
                                this.no_events = false;
                            }

                            if (this.custom_filtered_events.length == 0) {
                                this.no_custom_events = true;
                            } else {
                                this.no_custom_events = false;
                            }
                        },

                        select_event(event_name, event_code) {
                            window.dispatchEvent(new CustomEvent('header_event', {
                                detail: { event_name, event_code }
                            }));
                            this.page = 3;
                        },

                        select_custom_event(event_name, event_code ) {
                            window.dispatchEvent(new CustomEvent('header_custom_event', {
                                detail: { event_name, event_code }
                            }));
                            this.page = 3;
                        },

                        create_custom_event() {
                            window.dispatchEvent(new CustomEvent('open_create_custom_event'));
                        },

                        init() {
                            this.get_events();

                            window.addEventListener('refresh_event_list', (event) => {
                                event.stopImmediatePropagation();
                                this.get_events();
                            });
                        }
                    }
                }
            </script>

            <div class="flex flex-col justify-center items-center" x-show="page == 3" x-data="{ contribute_open: false }" x-transition>
                <p class="text-center dark:text-white text-black font-sans text-2xl mb-4 mt-6"><i class="ph-bold ph-sliders-horizontal"></i> Choose an Operation</p>
                <button class="ui_button" @click="contribute_open = !contribute_open"><i class="ph-bold ph-pencil-simple-line"></i> Contribute Data</button>
                <div class="flex flex-col justify-center items-center mb-6" x-show="contribute_open" x-collapse>
                    <button class="ui_button" disabled><i class="ph-bold ph-link"></i> Create a session</button>
                    <p class="dark:text-white text-black opacity-80 text-sm text-center">Create a session with one scout as the host to allow some more information to be autofilled and managed by the head scout</p>
                    <button class="ui_button" @click="get_header_data('contribute_separately')"><i class="ph-bold ph-pencil"></i> Contribute separately</button>
                    <p class="dark:text-white text-black opacity-80 text-sm text-center">Contribute data without a session</p>
                </div>
                <button class="ui_button" @click="get_header_data('view_data')"><i class="ph-bold ph-database"></i> View All Data</button>
            </div>
        </div>

        <script>
            function index() {
                return {
                    page: 1,

                    get_header_data(load_page) {
                        window.dispatchEvent(new CustomEvent('get_header_data', {
                            detail: { load_page }
                        }));
                    },

                    load_page(page) {                        
                        if (page == "session") {
                            console.log("This feature is coming soon");
                        } else if (page == "contribute_separately") {
                            if (!this.custom) {
                                window.location.href = `{{ SERVER_IP }}/contribute?username=${this.username}&event_name=${this.event_name}&event_code=${this.event_code}&`;
                            } else {
                                window.location.href = `{{ SERVER_IP }}/contribute?username=${this.username}&event_name=${this.event_name}&event_code=${this.event_code}&custom=true&`;
                            }
                        } else if (page == "view_data") {
                            if (!this.custom) {
                                window.location.href = `{{ SERVER_IP }}/data?username=${this.username}&event_name=${this.event_name}&event_code=${this.event_code}&`;
                            } else {
                                window.location.href = `{{ SERVER_IP }}/data?username=${this.username}&event_name=${this.event_name}&event_code=${this.event_code}&custom=true&`;
                            }
                        }
                    },

                    init() {
                        window.addEventListener('start_over', (event) => {
                            this.page = 1
                        });

                        window.addEventListener('header_data', (event) => {
                            event.stopImmediatePropagation();
                            const { username, event_name, event_code, load_page, custom } = event.detail;

                            this.username = username;
                            this.event_name = event_name;
                            this.event_code = event_code;
                            this.custom = custom;
                            this.load_page(load_page);
                        });
                    }
                }
            }
        </script>

        <!-- Create custom event dialog -->
        <div class="fixed z-50 h-[80%] bottom-0 md:bottom-auto w-screen md:h-[80%] md:w-[80%] md:mx-4 md:my-8 dark:bg-slate-800/60 dark:border-slate-700 border-slate-300 border-2 md:rounded-2xl rounded-t-xl bg-slate-200/60 backdrop-blur-md p-4 md:p-8 overflow-y-auto" x-data="create_custom_event()" x-init="init()" x-show="shown" @click.outside="close_dialog()" x-transition>
            <div class="flex flex-row justify-between">
                <div class="flex flex-col max-w-sm md:max-w-xl lg:max-w-3xl">
                    <p class="text-black dark:text-white text-sans text-2xl font-bold">Create Custom Event</p>
                    <p class="text-black dark:text-white text-sans text-sm">Custom events are used when an event isn't present in The Blue Alliance. Creating a custom event makes this event available to all users across Open Scouting to contribute and view data for.</p>
                </div>
                <button class="dark:text-white text-black text-3xl hover:scale-105 active:scale-95 transition-all dark:bg-slate-700 border-2 bg-slate-200 dark:border-slate-600 border-slate-400 aspect-square rounded-full my-auto p-2 mxr-2" @click="close_dialog()"><i class="ph-bold ph-x"></i></button>
            </div>

            <div class="flex flex-col items-center mt-4 h-full">
                <input class="ui_input" placeholder="Name" x-ref="name" @input="check_fields">
                <p class="text-black dark:text-white/80 font-sans text-xs text-left mb-2">Enter the name for this event</p>

                <select class="ui_input" placeholder="Year" x-ref="year" @change="update_date_fields">
                    <template x-for="year in YEARS" :key="year">
                        <option x-text="year"></option>
                    </template>
                </select>
                <p class="text-black dark:text-white/80 font-sans text-xs text-left mb-2" @input="check_fields">What year did this event take place?</p>

                <input class="ui_input" type="date" placeholder="Event begins" x-ref="date_begins" @click.outside="check_date_fields()" @input="check_fields">
                <p class="text-black dark:text-white/80 font-sans text-xs text-left mb-2">What day does this event begin?</p>

                <input class="ui_input" type="date" placeholder="Event ends" x-ref="date_ends" @click.outside="check_date_fields()" @input="check_fields">
                <p class="text-black dark:text-white/80 font-sans text-xs text-left mb-2">What day does this event end?</p>

                <input class="ui_input" placeholder="Event location" x-ref="location" @input="check_fields">
                <p class="text-black dark:text-white/80 font-sans text-xs text-left mb-2">Where will this event be held?</p>

                <select class="ui_input" placeholder="Year" x-ref="type" @change="check_fields">
                    <option value="N/A">Select an Event Type</option>
                    <option value="District">District Event</option>
                    <option value="Regional">Regional Event</option>
                    <option value="Preseason">Preseason Event</option>
                    <option value="Offseason">Offseason Event</option>
                    <option value="Other Event">Other Event</option>
                </select>
                <p class="text-black dark:text-white/80 font-sans text-xs text-left mb-2" @input="check_fields">What kind of event is this?</p>

                <button class="ui_button" :disabled="!able_to_submit" @click="create_event"><i class="ph-bold ph-check"></i> Create new Custom Event</button>
            </div>
        </div>

        <script>
            function create_custom_event() {
                return {
                    shown: false,
                    YEARS: JSON.parse(`{{ YEARS|safe }}`),
                    selected_year: null,
                    able_to_submit: false,

                    update_date_fields(e) {
                        this.selected_year = e.target.value;

                        this.$refs.date_begins.min = `${this.selected_year}-01-01`;
                        this.$refs.date_begins.max = `${this.selected_year}-12-31`;
                        this.$refs.date_ends.min = `${this.selected_year}-01-01`;
                        this.$refs.date_ends.max = `${this.selected_year}-12-31`;
                    },

                    check_date_fields() {
                        let date_begins_value = new Date(Date.parse(this.$refs.date_begins.value));
                        let date_ends_value = new Date(Date.parse(this.$refs.date_ends.value));
                        let valid = false;

                        if (!this.$refs.date_begins.checkValidity()) {
                            this.$refs.date_begins.value = `${this.selected_year}-${date_begins_value.getMonth()}-${date_begins_value.getDate()}`;
                        }

                        if (!this.$refs.date_ends.checkValidity()) {
                            this.$refs.date_ends.value = `${this.selected_year}-${date_begins_value.getMonth()}-${date_begins_value.getDate()}`;
                        }

                        this.check_fields();
                    },

                    check_fields() {
                        if (this.$refs.date_begins.value == "" || this.$refs.date_ends.value == "" || this.$refs.name.value == "" || this.$refs.location.value == "" || this.$refs.type.value == "N/A") {
                            valid = false;
                        } else {
                            valid = true;
                        }

                        if (valid) {
                            this.able_to_submit = true;
                        } else {
                            this.able_to_submit = false;
                        }
                    },

                    async create_event() {
                        var response = await fetch("{{ SERVER_IP }}/create_custom_event", {
                            method: "POST",
                            headers: {
                                    "name": this.$refs.name.value,
                                    "year": this.$refs.year.value,
                                    "date-begins": this.$refs.date_begins.value,
                                    "date-ends": this.$refs.date_ends.value,
                                    "location": this.$refs.location.value,
                                    "type": this.$refs.type.value,
                                }
                            });

                            response.text().then(async (text) => {
                                if (response.ok) {
                                    this.close_dialog();
                                    window.dispatchEvent(new CustomEvent('refresh_event_list'));
                                }
                            });
                    },

                    close_dialog() {
                        this.shown = false;

                        this.$refs.name.value = "";
                        this.$refs.date_begins.value = "";
                        this.$refs.date_ends.value = "";
                        this.$refs.location.value = "";
                        this.$refs.type.value = "N/A";
                    },

                    init() {
                        window.addEventListener('open_create_custom_event', (event) => {
                            event.stopImmediatePropagation();
                            
                            this.shown = true;
                        });

                        this.selected_year = this.YEARS[0]
                        this.$refs.date_begins.min = `${this.selected_year}-01-01`;
                        this.$refs.date_begins.max = `${this.selected_year}-12-31`;
                        this.$refs.date_ends.min = `${this.selected_year}-01-01`;
                        this.$refs.date_ends.max = `${this.selected_year}-12-31`;
                    },
                }
            }
        </script>
        
    </div>
{% endblock %}

{% block scripts %}{% endblock %}