{% extends "base.html" %}
{% load static %}
{% block head_title %}Open Scouting{% endblock %}

{% block head_scripts %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="flex h-screen justify-center items-center flex-col w-screen">
        <div class="flex flex-row w-full md:w-3/4 lg:w-2/3 mx-8 my-4 py-2 dark:bg-slate-800 border-2 dark:border-slate-700 bg-slate-200 border-slate-300 rounded-lg mb-4 items-center justify-center"
             x-data="pits_header()">
            <img class="w-16 h-16 aspect-square m-2 hover:scale-110 transition-all ease-in-out active:scale-95"
                 src="{% static '/main/images/icon_rounded.png' %}"
                 @click="window.location.href = '{{ SERVER_IP }}'">

            <div class="flex flex-col">
                <div class="flex flex-row items-center">

                    <button class="ui_button_icon mr-2" @click="go_to_data()">
                        <i class="ph-bold ph-hard-drives"></i>
                    </button>
                    <p class="dark:text-white text-black text-sans text-2xl">Pit Scouting</p>
                </div>

                <div class="flex flex-row" x-show="!demo">
                    <p class="dark:text-white text-black text-sans text-sm mx-1">Viewing pits for</p>
                    <p class="dark:text-white text-black text-sans font-bold text-sm mx-1">{{ event_name }}</p>
                    <p class="dark:text-white text-black text-sans text-sm mx-1">as</p>
                    <p class="dark:text-white text-black text-sans font-bold text-sm mx-1">{{ username }}</p>
                </div>

                <div class="flex flex-col p-2 ml-2 mt-2 rounded-lg border-solid border-2 dark:border-slate-600 dark:bg-purple-900/50 border-slate-300 bg-purple-200/50"
                     x-show="demo">
                    <p class="dark:text-white text-black font-sans text-md ">
                        <i class="ph-bold ph-test-tube"></i> Open Scouting is in demo mode
                    </p>
                    <p class="dark:text-white text-black font-sans text-sm">Any contributed data will not be saved to the server</p>
                </div>
            </div>
        </div>

        <script>
            function pits_header() {
                return {
                    demo: false,

                    go_to_data() {
                        let url = new URL(window.location.href);
                        url.pathname = url.pathname.replace("/contribute", "/data");
                        window.location.href = url.toString();
                    },

                    init() {
                        try {
                            this.demo = JSON.parse("{{ demo }}");
                        } catch {
                            this.demo = false;
                        }
                    }
                }
            }
        </script>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
