{% extends "base.html" %}
{% load static %}
{% block head_title %}
    Open Scouting | Pit Scouting
{% endblock head_title %}

{% block head_scripts %}
{% endblock head_scripts %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}
    <script>
        const SERVER_IP = "{{ SERVER_IP }}";
        const CSRF_TOKEN = "{{ csrf_token }}";
        const TBA_API_KEY = "{{ TBA_API_KEY }}";
        const DEMO = "{{ demo }}";

        const USERNAME = "{{ username }}";

        const EVENT_NAME = "{{ event_name }}";
        const EVENT_CODE = "{{ event_code }}";
        const CUSTOM = "{{ custom }}";
        const YEAR = "{{ year }}";
    </script>

    <div class="flex justify-center items-center flex-col w-screen">

        <script src="{% static '/main/scripts/pits/header.js' %}"></script>

        <div class="flex flex-row w-full md:w-3/4 lg:w-2/3 mx-8 my-4 py-2 dark:bg-slate-800 border-2 dark:border-slate-700 bg-slate-200 border-slate-300 rounded-lg mb-4 items-center justify-center"
             x-data="header">
            <img class="w-16 h-16 aspect-square m-2 hover:scale-110 transition-all ease-in-out active:scale-95"
                 src="{% static '/main/images/icon_rounded.png' %}"
                 @click="window.location.href = '{{ SERVER_IP }}'">

            <div class="flex flex-col">
                <div class="flex flex-row items-center">

                    <button class="ui_button_icon mr-2"
                            @click="page_dropdown = !page_dropdown"
                            x-ref="page_button">
                        <i class="ph-bold ph-dots-three"></i>
                    </button>
                    <div class="dark:bg-slate-700/60 bg-slate-200/60 border-2 dark:border-slate-600 border-slate-300 rounded-xl backdrop-blur-md flex flex-col p-4 z-10"
                         x-show="page_dropdown"
                         x-anchor.offset.10="$refs.page_button"
                         x-transition>
                        <button class="ui_button_small my-1! py-1! px-2! w-full! text-left!"
                                @click="go_to_contribute">
                            <i class="ph-bold ph-pencil"></i> Add Scouting Reports
                        </button>
                        <button class="ui_button_small my-1! py-1! px-2! w-full! text-left!"
                                @click="go_to_data">
                            <i class="ph-bold ph-database"></i> View Scouting Data
                        </button>
                        <button class="ui_button_small my-1! py-1! px-2! w-full! text-left!"
                                @click="go_to_pits">
                            <i class="ph-bold ph-garage"></i> Pit Scouting
                        </button>
                    </div>
                    <p class="dark:text-white text-black text-sans text-2xl">Pit Scouting</p>
                </div>

                <div class="flex flex-row" x-show="!demo">
                    <p class="dark:text-white text-black text-sans text-sm mx-1">Viewing pits for</p>
                    <p class="dark:text-white text-black text-sans font-bold text-sm mx-1">{{ event_name }}</p>
                    <p class="dark:text-white text-black text-sans text-sm mx-1">as</p>
                    <p class="dark:text-white text-black text-sans font-bold text-sm mx-1">{{ username }}</p>
                </div>

                <div class="flex flex-col p-2 ml-2 mt-2 rounded-lg border-solid border-2 dark:border-slate-600 dark:bg-purple-900/50 border-slate-300 bg-purple-200/50"
                     x-show="demo">
                    <p class="dark:text-white text-black font-sans text-md ">
                        <i class="ph-bold ph-test-tube"></i> Open Scouting is in demo mode
                    </p>
                    <p class="dark:text-white text-black font-sans text-sm">Any contributed data will not be saved to the server</p>
                </div>
            </div>
        </div>

        <script src="{% static '/main/scripts/pits/pits.js' %}"></script>

        <div x-data="pits" class="w-full md:w-3/4 lg:w-2/3 mx-8">
            <div class="flex flex-col bg-slate-200/80 dark:bg-slate-700/80 border-2 dark:border-slate-600 border-slate-300 rounded-xl backdrop-blur-md p-4 my-2">
                <div class="flex flex-row flex-wrap">
                    <button class="ui_button_small m-1!"
                            :disabled="filter == 'all'"
                            @click="filter = 'all'; filter_pit_data(); get_pit_status()">
                        <i class="ph-bold ph-selection-all"></i> View All Pits
                    </button>
                    <button class="ui_button_small m-1!"
                            :disabled="filter == 'incomplete'"
                            @click="filter = 'incomplete'; filter_pit_data(); get_pit_status()">
                        <i class="ph-bold ph-arrows-clockwise"></i> View Incomplete Pits
                    </button>
                    <button class="ui_button_small m-1!"
                            :disabled="filter == 'no_data'"
                            @click="filter = 'no_data'; filter_pit_data(); get_pit_status()">
                        <i class="ph-bold ph-x"></i> View Pits With No Data
                    </button>
                    <button class="ui_button_small m-1!"
                            :disabled="filter == 'completed'"
                            @click="filter = 'completed'; filter_pit_data(); get_pit_status()">
                        <i class="ph-bold ph-check"></i> View Completed Pits
                    </button>
                </div>

                <div class="flex flex-row flex-wrap my-4">
                    <template x-for="pit in pit_status">
                        <div class="cursor-pointer" @click="scroll_to_pit(pit.team_number)">
                            <template x-if="pit.status == 'completed'">
                                <div class="flex flex-row mx-1 items-center">
                                    <i class="ph-bold ph-check text-green-500/80 text-sm"></i>
                                    <p class="text-green-500" x-text="pit.team_number"></p>
                                </div>
                            </template>
                            <template x-if="pit.status == 'incomplete'">
                                <div class="flex flex-row mx-1 items-center">
                                    <i class="ph-bold ph-arrows-clockwise text-orange-500/80 text-sm"></i>
                                    <p class="text-orange-500" x-text="pit.team_number"></p>
                                </div>
                            </template>
                            <template x-if="pit.status == 'no_data'">
                                <div class="flex flex-row mx-1 items-center">
                                    <i class="ph-bold ph-x text-red-500/80 text-sm"></i>
                                    <p class="text-red-500" x-text="pit.team_number"></p>
                                </div>
                            </template>
                        </div>
                    </template>
                </div>

                <p class="dark:text-white text-black text-sm opacity-80 ml-4"
                   x-text="'Viewing ' + pit_data_filtered.length + ' pits'"></p>
            </div>

            <div class="h-auto">
                <template x-for="pit in pit_data_filtered">
                    <div class="flex flex-col bg-slate-200/80 dark:bg-slate-700/80 border-2 dark:border-slate-600 border-slate-300 rounded-xl backdrop-blur-md p-4 my-2 pit_top"
                         x-data="{ open: true }"
                         :team_number="pit.team_number">
                        <div class="flex flex-row items-center">
                            <div class="flex flex-row justify-between">
                                <div class="rounded-md w-12 h-12 mr-2 bg-slate-200/80 dark:bg-slate-700/80 border-2 dark:border-slate-600 border-slate-300">
                                    <img :src="'https://www.thebluealliance.com/avatar/'+ '{{ year }}' + '/frc' + pit.team_number + '.png'"
                                         onerror="this.onerror=null;this.src='';this.style.display='none';"
                                         class="w-full h-full rounded-md">
                                </div>
                                <div class="flex flex-col">
                                    <p class="dark:text-white text-black text-xl font-bold mb-0 pb-0"
                                       x-text="pit.team_number"></p>
                                    <p class="dark:text-white text-black text-md opacity-80 break-all"
                                       x-text="pit.nickname"></p>
                                </div>

                            </div>
                            <div class="flex-1 mr-2 w-auto justify-end">
                                <p @click="open = !open"
                                   x-show="open"
                                   class="dark:text-white text-black cursor-pointer text-lg w-full text-right">
                                    <i class="ph-bold ph-caret-up"></i>
                                </p>
                                <p @click="open = !open"
                                   x-show="!open"
                                   class="dark:text-white text-black cursor-pointer text-lg w-full text-right">
                                    <i class="ph-bold ph-caret-down"></i>
                                </p>
                            </div>
                        </div>

                        <div class="flex flex-col mr-4" x-show="open" x-collapse>
                            <template x-for="question in pit.questions">
                                <div>
                                    <template x-if="question.answers && question.answers[0] && question.answers[0].value !== ''">
                                        <div class="flex flex-col"
                                             x-data="{ open: false, editing: false }"
                                             @click.outside="editing = false; open = false">
                                            <div class="ml-4 flex flex-row items-center my-1">
                                                <i class="ph-bold ph-check text-md text-green-600 mr-1"></i>
                                                <button class="ui_button_icon ml-2 mr-1 w-10! h-10!"
                                                        @click="editing = !editing">
                                                    <i class="ph-bold ph-plus-circle text-md!" x-show="!editing"></i>
                                                    <i class="ph-bold ph-x-circle text-md!" x-show="editing"></i>
                                                </button>
                                                <button class="ui_button_icon mr-2 ml-1 w-10! h-10!"
                                                        @click="open = !open"
                                                        x-show="!editing"
                                                        x-transition>
                                                    <i class="ph-bold ph-eye text-md!" x-show="!open"></i>
                                                    <i class="ph-bold ph-eye-closed text-md!" x-show="open"></i>
                                                </button>
                                                <p class="dark:text-white text-black" x-text="question.text"></p>
                                                <p class="dark:text-white text-black opacity-80 ml-2 mr-2"
                                                   x-text="question.answers[0].value"
                                                   x-show="!open || editing"
                                                   x-transition></p>
                                                <p class="dark:text-white text-black opacity-60"
                                                   x-text="'(' + question.answers.length + ')'"
                                                   x-show="!open || editing"
                                                   x-transition></p>

                                            </div>
                                            <div class="flex flex-row items-center ml-8 justify-end"
                                                 x-show="editing"
                                                 x-ref="inputs"
                                                 x-collapse>
                                                <template x-if="question.type == 'choice'">
                                                    <select class="ui_input max-h-8!">
                                                        <template x-for="choice in question.choices">
                                                            <option x-text="choice"></option>
                                                        </template>
                                                    </select>
                                                </template>
                                                <template x-if="question.type == 'boolean'">
                                                    <input class="ui_checkbox max-h-8!" type="checkbox">
                                                </template>
                                                <template x-if="question.type == 'number'">
                                                    <input class="ui_input max-h-8!" type="number">
                                                </template>
                                                <template x-if="question.type == 'text'">
                                                    <input class="ui_input max-h-8!" type="text">
                                                </template>

                                                <button class="ui_button_icon w-10! h-10! ml-2"
                                                        @click="submit_answer($event, question.simple_name, question.type); editing = false;">
                                                    <i class="ph-bold ph-check text-md!"></i>
                                                </button>
                                            </div>
                                            <div class="flex flex-row ml-8 flex-wrap"
                                                 x-show="open || editing"
                                                 x-collapse>
                                                <template x-for="answer in question.answers">
                                                    <div class="flex flex-row items-end mx-1 mb-1">
                                                        <p class="dark:text-white text-black opacity-80" x-text="answer.value"></p>
                                                        <p class="dark:text-white text-black opacity-70 ml-1 text-xs"
                                                           x-text="'(' + answer.user + ')'"></p>
                                                        <p class="dark:text-white text-black opacity-70">,</p>
                                                    </div>

                                                </template>
                                            </div>
                                        </div>

                                    </template>

                                    <template x-if="!question.answers || question.answers.length < 1">
                                        <div class="flex flex-col"
                                             x-data="{ editing: false }"
                                             @click.outside="editing = false">
                                            <div class="ml-4 flex flex-row items-center my-1">
                                                <i class="ph-bold ph-x text-md text-red-500 mr-1"></i>
                                                <button class="ui_button_icon ml-2 mr-1 w-10! h-10!"
                                                        @click="editing = !editing">
                                                    <i class="ph-bold ph-plus-circle text-md!" x-show="!editing"></i>
                                                    <i class="ph-bold ph-x-circle text-md!" x-show="editing"></i>
                                                </button>
                                                <p class="dark:text-white text-black" x-text="question.text"></p>
                                            </div>
                                            <div class="flex flex-row items-center ml-8 justify-end"
                                                 x-show="editing"
                                                 x-collapse>
                                                <template x-if="question.type == 'choice'">
                                                    <select class="ui_input max-h-8!">
                                                        <template x-for="choice in question.choices">
                                                            <option x-text="choice"></option>
                                                        </template>
                                                    </select>
                                                </template>
                                                <template x-if="question.type == 'boolean'">
                                                    <input class="ui_checkbox max-h-8!" type="checkbox">
                                                </template>
                                                <template x-if="question.type == 'number'">
                                                    <input class="ui_input max-h-8!" type="number">
                                                </template>
                                                <template x-if="question.type == 'text'">
                                                    <input class="ui_input max-h-8!" type="text">
                                                </template>

                                                <button class="ui_button_icon w-10! h-10! ml-2"
                                                        @click="submit_answer($event, question.simple_name, question.type)">
                                                    <i class="ph-bold ph-check text-md!"></i>
                                                </button>
                                            </div>
                                        </div>

                                    </template>
                                </div>
                            </template>

                            <div x-data="{ custom_question_open: false }"
                                 @click.outside="custom_question_open = false">
                                <button class="ui_button_small ml-4 mt-1"
                                        @click="custom_question_open = !custom_question_open">
                                    <i class="ph-bold ph-plus-circle"></i> Add Custom Question
                                </button>
                                <div class="flex flex-row"
                                     x-show="custom_question_open"
                                     x-collapse
                                     x-data="{ question_input: '' }">
                                    <input class="ui_input mt-1 ml-4 w-1/2"
                                           type="text"
                                           placeholder="Question"
                                           x-ref="question_input"
                                           x-model="question_input">
                                    <button class="ui_button_small ml-2"
                                            :disabled="question_input == ''"
                                            @click="custom_question_open = false; submit_question($event, $refs.question_input)">
                                        <i class="ph-bold ph-check"></i> Add
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </template>

                <div class="flex flex-col bg-slate-200/80 dark:bg-slate-700/80 border-2 dark:border-slate-600 border-slate-300 rounded-xl backdrop-blur-md p-4 mt-2 mb-4">
                    <p class="dark:text-white text-black text-lg text-center">Is a team's pit not here yet?</p>
                    <div class="flex flex-col" x-data="{ add_pit_open: false }">
                        <button class="ui_button" @click="add_pit_open = !add_pit_open">
                            <i class="ph-bold ph-plus-circle"></i> Add a pit
                        </button>
                        <div class="flex flex-col dark:bg-slate-700/80 bg-slate-200/80 border-2 dark:border-slate-600 border-slate-300 rounded-xl backdrop-blur-md p-4"
                             x-show="add_pit_open"
                             @click.outside="add_pit_open = false"
                             x-data="{ team_number_input: '' }"
                             x-collapse>
                            <p class="dark:text-white text-black text-md text-center">Add a new pit</p>
                            <input class="ui_input mt-1 w-full!"
                                   type="number"
                                   placeholder="Team Number"
                                   x-ref="team_number_input"
                                   x-model="team_number_input">
                            <button class="ui_button"
                                    @click="add_pit_open = false; submit_team($event, $refs.team_number_input)"
                                    :disabled="team_number_input == ''">
                                <i class="ph-bold ph-check"></i> Add pit
                            </button>
                        </div>
                    </div>

                </div>

                <div class="fixed bottom-1 left-1 md:bottom-2 md:left-2 z-5 drop-shadow-xl bg-slate-200/80 dark:bg-slate-700/80 border-2 dark:border-slate-600 border-slate-300 rounded-full backdrop-blur-md p-2 flex flex-row align-middle items-center">
                    <button class="ui_button_icon mr-2 w-8! h-8! md:w-12! md:h-12!"
                            @click="go_to_top"
                            x-show="scrollTop > 0"
                            x-transition
                            x-data="{ scrollTop: 0 }"
                            @scroll.window="scrollTop = window.scrollY">
                        <i class="ph-bold ph-arrow-line-up"></i>
                    </button>
                    <button class="ui_button_icon mr-2 w-8! h-8! md:w-12! md:h-12!"
                            @click="sync_pit_data">
                        <i class="ph-bold ph-arrows-clockwise"></i>
                    </button>
                    <p class="dark:text-white text-black mr-2 text-md md:text-md"
                       x-show="state == 'loading'"
                       x-transition:enter.delay.300ms>
                        <i class="ph-bold ph-circle-notch animate-spin"></i> Fetching data from server...
                    </p>
                    <p class="text-red-500 mr-2 text-md md:text-md"
                       x-show="state == 'unsaved'"
                       x-transition:enter.delay.300ms>
                        <i class="ph-bold ph-x"></i> Unsaved changes
                    </p>
                    <p class="text-green-500 mr-2 text-md md:text-md"
                       x-show="state == 'saved'"
                       x-transition:enter.delay.300ms>
                        <i class="ph-bold ph-check"></i> Changes saved
                    </p>
                    <p class="text-blue-500 mr-2 text-md md:text-md"
                       x-show="state == 'syncing'"
                       x-transition:enter.delay.300ms>
                        <i class="ph-bold ph-circle-notch animate-spin"></i> Syncing data...
                    </p>
                    <p class="text-orange-500 mr-2 text-md md:text-md"
                       x-show="state == 'offline'"
                       x-transition:enter.delay.300ms>
                        <i class="ph-bold ph-warning"></i> Data saved offline
                    </p>
                </div>
            </div>
        </div>
    {% endblock body %}

    {% block scripts %}
    {% endblock scripts %}
